
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Créer un bilan Kapandji{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            {# {{dump(gesteTests)}} #}
            <h3 class="align-center">{% if modify is defined %}
            Modifier Bilan Kapandji (Test opposition du I)
            {% else %}
            Nouveau Bilan Kapandji (Test opposition du I)
            {% endif %}</h3>
            {{ form_start(form) }}
            <table class="table table-secondary table-sm">
                <thead>
                    <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Gauche</th>
                    <th scope="col">Remarques</th>
                    <th scope="col">Droite</th>
                    <th scope="col">Remarques</th>
                    </tr>
                </thead> 
                <tbody>
                    {% set i = 0 %}
                    {% for position in kapandjiPositions %}
                    
                    {# {{ dump(position) }} #}
                    {# <img src='{{ vich_uploader_asset(position, 'imageFile', 'App2Bundle\\Entity\\Tests\\KapandjiPosition') }}' alt='{{ position.nom }}' /> #}
                   
                    <tr >
                        <th scope="row">{{position.nom}}
                        </th>
                        <td> <button type="button" data-toggle="popover" title="photo de la position" 
                                        class="btn btn-sm btn-info" data-img='{{ vich_uploader_asset(position, 'imageFile') }}'
                                >photo</button>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="app2bundle_bilans_bilankapandji_resultats_{{i}}_value" name="app2bundle_bilans_bilankapandji[resultats][{{i}}][value]"
                                                     value="1" 
                                                     {% if position['condition_g']  is defined and position['condition_g'] is not null  %}
                                                        {% if position['condition_g']['operateur'] == "=" and  position['condition_g']['value'] == 1 %}
                                                         checked
                                                        {% endif %}
                                                    {% elseif position['value_g'] is defined and position['value_g'] == 1 %}
                                                    checked 
                                                    {% elseif position['value_g'] is not defined %}
                                                    checked 
                                                    {% endif %}>
                            <label class="custom-control-label" for="app2bundle_bilans_bilankapandji_resultats_{{i}}_value"></label>
                          </div>
                          <input id="app2bundle_bilans_bilankapandji_resultats_{{i}}_cote" name="app2bundle_bilans_bilankapandji[resultats][{{i}}][cote]" type="hidden" value="0">
                          <input id="app2bundle_bilans_bilankapandji_resultats_{{i}}_itemTest" name="app2bundle_bilans_bilankapandji[resultats][{{i}}][itemTest]" type="hidden" value="{{position.id}}">

                        </td>
                        <td>
                            <div class="form-group">
                                {# <label class="col-form-label" for="inputDefault">Default input</label> #}
                                <input type="text" class="form-control form-control-xs" placeholder="Remarques..." id="app2bundle_bilans_bilankapandji_resultats_{{i}}_remarque" name="app2bundle_bilans_bilankapandji[resultats][{{i}}][remarque]">
                            </div>
                        </td>
                    {% set i = i +1 %}
                        <td>
                            <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="app2bundle_bilans_bilankapandji_resultats_{{i}}_value" name="app2bundle_bilans_bilankapandji[resultats][{{i}}][value]"
                                                     value="1"  
                                                     {% if position['condition_d']  is defined and position['condition_d'] is not null  %}
                                                        {% if position['condition_d']['operateur'] == "=" and  position['condition_d']['value'] == 1 %}
                                                         checked
                                                        {% endif %}
                                                    {% elseif position['value_d'] is defined and position['value_d'] == 1 %}
                                                    checked 
                                                    {% elseif position['value_d'] is not defined %}
                                                    checked 
                                                    {% endif %}>
                            <label class="custom-control-label" for="app2bundle_bilans_bilankapandji_resultats_{{i}}_value"></label>
                          </div>
                          <input id="app2bundle_bilans_bilankapandji_resultats_{{i}}_cote" name="app2bundle_bilans_bilankapandji[resultats][{{i}}][cote]" type="hidden" value="1">
                           <input id="app2bundle_bilans_bilankapandji_resultats_{{i}}_itemTest" name="app2bundle_bilans_bilankapandji[resultats][{{i}}][itemTest]" type="hidden" value="{{position.id}}">

                        </td>
                        <td>
                            <div class="form-group">
                                {# <label class="col-form-label" for="inputDefault">Default input</label> #}
                                <input type="text" class="form-control form-control-xs" placeholder="Remarques..." id="app2bundle_bilans_bilankapandji_resultats_{{i}}_remarque" name="app2bundle_bilans_bilankapandji[resultats][{{i}}][remarque]">
                            </div>
                        </td>
                     </tr>
                     {% set i = i +1 %}
                    {% endfor %}
                    
                <tbody>
            </table>      
            {% do form.resultats.setRendered %}

           
              
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
        {{ parent() }}
        {% set i = 0 %} 
        {# On regarde la liste des geste test #}
        <script type="text/javascript">       
        {% for position in kapandjiPositions  %}
            {% if position['remarque_g']  is defined and position['remarque_g'] is not null  %}
                document.getElementById("app2bundle_bilans_bilankapandji_resultats_{{i}}_remarque").value = "{{position['remarque_g']}}" 
            {% endif %}
            {% set i = i +1 %}
            {% if position['remarque_d']  is defined and position['remarque_d'] is not null  %}
                document.getElementById("app2bundle_bilans_bilankapandji_resultats_{{i}}_remarque").value = "{{position['remarque_d']}}" 
            {% endif %}
            {% set i = i +1 %}
        {% endfor %}
        </script>
{% endblock %}
   
