
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Résultat bilan habillage{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <p class="lead">Bilan Kapandji (Test opposition du I) du {{bilanKapandji.dateAjout|date("d/m/Y") }}</p>
                {% include '@App2Bundle/Resources/views/Layout/components/bilanKapandjiResultat.html.twig' 
                with {
                    'bilanKapandji': bilanKapandji
                } %}
            {% if bilanKapandji.bilan is not null %}
                <a href="{{ path('app2_bilan_get_one', {'idBilan': bilanKapandji.bilan.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au bilan global
                    </button>
                </a>
            {% elseif bilanKapandji.patient is not null %}
                <a href="{{ path('app2_get_one_patient', {'idPatient': bilanKapandji.patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au dossier patient
                    </button>
                </a>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
