
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <p class="lead">Comparaison de deux bilans gestes-test</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Geste Test</th>
                    <th scope="col">Côté</th>
                    <th scope="col">{{bilan1.nom}}</th>
                    <th scope="col">{{bilan2.nom}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, gesteTest in affichage %}
                            {% if gesteTest[0].bilan1 > gesteTest[0].bilan2 %}
                            <tr class="table-warning">
                            {% elseif gesteTest[0].bilan1 == gesteTest[0].bilan2 %}
                            <tr class="table-primary">
                            {% else %}
                            <tr class="table-success">
                            {% endif %}
                                <td rowspan=2>{{key}}</td>
                                <td>G</td>
                                <td>{% if gesteTest[0].bilan1 == 1%}<i class="fas fa-check" style="color: green;"></i>{%else%}<i class="fas fa-times" style="color: red;"></i>{%endif%}</td>
                                <td>{% if gesteTest[0].bilan2 == 1%}<i class="fas fa-check" style="color: green;"></i>{%else%}<i class="fas fa-times" style="color: red;"></i>{%endif%}</td>
                            </tr>
                            {% if gesteTest[1].bilan1 > gesteTest[1].bilan2%}
                            <tr class="table-warning">
                            {% elseif gesteTest[1].bilan1 == gesteTest[1].bilan2%}
                            <tr class="table-primary">
                            {% else %}
                            <tr class="table-success">
                            {% endif %}
                                <td>D</td>
                                <td>{% if gesteTest[1].bilan1 == 1%}<i class="fas fa-check" style="color: green;"></i>{%else%}<i class="fas fa-times" style="color: red;"></i>{%endif%}</td>
                                <td>{% if gesteTest[1].bilan2 == 1%}<i class="fas fa-check" style="color: green;"></i>{%else%}<i class="fas fa-times" style="color: red;"></i>{%endif%}</td>
                            </tr>
                    {% endfor %}  
                </tbody>
            </table>
            <a href="{{ path('app2_get_one_patient', {'idPatient': patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au dossier patient
                    </button>
                </a>
        {% endblock %}
    {% endembed %}
{% endblock %}
