
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Bilan Geste Test{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <h3 class="align-center">
            {% if modify is defined %}
            Modifier Bilan Geste-Test 
            {% else %}
            Nouveau Bilan Geste-Test
            {% endif %}
            </h3>
            {% if global is defined and global is not null %}
                 <a href="{{ path('app2_bilan_geste_test_create_before', {'idPatient' : patient.id, 'idBilan' : global.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Générer à partir d'un autre bilan
                    </button>
                </a>
             {% elseif modify is not defined %}
            <a href="{{ path('app2_bilan_geste_test_create_before', {'idPatient': patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Générer à partir d'un autre bilan
                    </button>
                </a>
            {% endif %}
              {{ form_start(form) }}
            <table class="table table-hover table-sm">
                <thead >
                    <tr>
                    <th scope="col">Geste test</th>
                    <th scope="col">Gauche</th>
                    {% if modify is not defined %}
                    <th scope="col">Infos</th>
                    {% endif %}
                    <th scope="col">Remarques</th>
                    <th scope="col">Droite</th>
                    {% if modify is not defined %}
                    <th scope="col">Infos</th>
                    {% endif %}
                    <th scope="col">Remarques</th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %} 
                    {# On regarde la liste des geste test #}
                    {% for gestetest in gesteTests %}
                    <tr class="table-secondary">
                        {# Ici on affiche un formulaire de type résultat pour chaque geste test et pour chaque côté #}
                        <th scope="row" >
                            {{gestetest['nom']}} 
                        </th>
                        <td>
                          {# On affiche la checkbox #}
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="app2bundle_bilans_bilangestetest_resultats_{{i}}_value" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][value]"
                                                     value="1"
                                                    {% if gestetest['condition_g']  is defined and gestetest['condition_g'] is not null  %}
                                                        {% if gestetest['condition_g']['operateur'] == "=" and  gestetest['condition_g']['value'] == 1 %}
                                                         checked
                                                        {% endif %}
                                                    {% elseif gestetest['value_g'] is defined and gestetest['value_g'] == 1 %}
                                                    checked 
                                                    {% elseif gestetest['value_g'] is not defined %}
                                                    checked 
                                                    {% endif %}>
                            <label class="custom-control-label" for="app2bundle_bilans_bilangestetest_resultats_{{i}}_value"></label>
                          </div>
                          {# On choisi le côté ici value=0 donc gauche #}
                          <input id="app2bundle_bilans_bilangestetest_resultats_{{i}}_cote" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][cote]" type="hidden" value="0">
                          {# On choisi l'item test, c'est à dire l'id du geste test #}
                          <input id="app2bundle_bilans_bilangestetest_resultats_{{i}}_itemTest" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][itemTest]" type="hidden" value="{{gestetest['id']}}">

                        </td>
                         {% if modify is not defined %}
                        <td>
                        
                            {% if gestetest['condition_g']  is defined and gestetest['condition_g'] is not null  %}
                                <button type="button" data-toggle="popover" title="Informations venant d'un autre bilan" 
                                    {% if gestetest['condition_g']['operateur'] == "=" and  gestetest['condition_g']['value'] == 1 %}
                                        class="btn btn-sm btn-success" data-content="Ce geste test (à gauche) devrait être réussi"
                                    {% elseif gestetest['condition_g']['operateur'] == "=" and  gestetest['condition_g']['value'] == 0 %}
                                        class="btn btn-sm btn-danger" data-content="Ce geste test (à gauche) ne devrait pas être réussi"
                                    {% endif %}
                                >info</button>
                            {% endif %}
                        </td>
                        {% endif %}
                        <td>
                            <div class="form-group">
                                {# <label class="col-form-label" for="inputDefault">Default input</label> #}
                                <input type="text" class="form-control form-control-xs" placeholder="Remarques..." id="app2bundle_bilans_bilangestetest_resultats_{{i}}_remarque" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][remarque]">
                            </div>
                        </td>
                    {% set i = i +1 %}
                        <td>
                            <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="app2bundle_bilans_bilangestetest_resultats_{{i}}_value" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][value]"
                                                     value="1" 
                                                    {% if gestetest['condition_g']  is defined and gestetest['condition_d'] is not null  %}
                                                        {% if gestetest['condition_d']['operateur'] == "=" and  gestetest['condition_d']['value'] == 1 %}
                                                        checked
                                                        {% endif %}
                                                    {% elseif gestetest['value_d'] is defined and gestetest['value_d'] == 1 %}
                                                    checked 
                                                    {% elseif gestetest['value_d'] is not defined %}
                                                    checked 
                                                    {% endif %}>
                            <label class="custom-control-label" for="app2bundle_bilans_bilangestetest_resultats_{{i}}_value"></label>
                          </div>
                          <input id="app2bundle_bilans_bilangestetest_resultats_{{i}}_cote" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][cote]" type="hidden" value="1">
                           <input id="app2bundle_bilans_bilangestetest_resultats_{{i}}_itemTest" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][itemTest]" type="hidden" value="{{gestetest['id']}}">

                        </td>
                         {% if modify is not defined %}
                        <td>
                            {% if gestetest['condition_g']  is defined and gestetest['condition_d'] is not null  %}
                                <button type="button" data-toggle="popover" title="Informations venant d'un autre bilan" 
                                    {% if gestetest['condition_d']['operateur'] == "=" and  gestetest['condition_d']['value'] == 1 %}
                                         class="btn btn-sm btn-success" data-content="Ce geste test (à droite) devrait être réussi"
                                    {% elseif gestetest['condition_d']['operateur'] == "=" and  gestetest['condition_d']['value'] == 0 %}
                                          class="btn btn-sm btn-danger" data-content="Ce geste test (à droite) ne devrait pas être réussi"
                                    {% endif %}
                                >info</button>
                            {% endif %}
                        </td>
                        {% endif %}
                        <td>
                             <div class="form-group">
                                {# <label class="col-form-label" for="inputDefault">Default input</label> #}
                                <input type="text" class="form-control form-control-xs" placeholder="Remarques..." id="app2bundle_bilans_bilangestetest_resultats_{{i}}_remarque" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][remarque]">
                            </div>
                        </td>
                     </tr>
                     {% set i = i +1 %}
                    {% endfor %}
                    
                <tbody>
            </table>   

            {% do form.resultats.setRendered %}

         
              
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
        {{ parent() }}
        {% set i = 0 %} 
        {# On regarde la liste des geste test #}
        <script type="text/javascript">       
        {% for gestetest in gesteTests %}
            {% if gestetest['remarque_g']  is defined and gestetest['remarque_g'] is not null  %}
                document.getElementById("app2bundle_bilans_bilangestetest_resultats_{{i}}_remarque").value = "{{gestetest['remarque_g']}}" 
            {% endif %}
            {% set i = i +1 %}
            {% if gestetest['remarque_d']  is defined and gestetest['remarque_d'] is not null  %}
                document.getElementById("app2bundle_bilans_bilangestetest_resultats_{{i}}_remarque").value = "{{gestetest['remarque_d']}}" 
            {% endif %}
            {% set i = i +1 %}
        {% endfor %}
        </script>


   
{% endblock %}
   
