
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}
Extract Bilan Geste-tests
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <h3 class="align-center"> Export au format texte bilan {{type}} <br>  du {{bilan.dateAjout|date("d/m/Y") }}</h3>
            {# <ul class="nav nav-pills mb-3" >
                <li class="nav-item">
                    <a class="nav-link nav-link-extract active" id="pills-success" >{{text_btn_success}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-extract active" id="pills-remarques">Afficher les remarques</a>
                </li>
            </ul> #}
            <div class="btn-group">
            <a id="pills-success" href="#" class="btn btn-primary" role="button" aria-disabled="true">{{text_btn_success}}</a>
            <a id="pills-remarques" href="#" class="btn btn-primary" role="button" aria-disabled="true">Afficher les remarques</a>
            </div>
            {# <div>
            <input type="checkbox" id="display-non-succeed" name="display-non-succeed"
                    checked>
            <label for="display-non-succeed">{{text_btn_success}}</label>
            </div> 
             <div>
            <input type="checkbox" id="display-remarque" name="display-remarque"
                    checked>
            <label for="display-remarque">Afficher les remarques</label>
            </div>  #}
            <div class="form-group">
                <textarea class="form-control" id="extract" rows="30"></textarea>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    
    <script type="text/javascript">       
        let options = {"with-success" : true, "with-remarque" : true}; 
        let affichage = {{affichage|json_encode(constant('JSON_PRETTY_PRINT'))|raw}};
        valeurMusculaire = {
            "0" : "0",
            "1" : "1",
            "2" : "2",
            "3" : "2+",
            "4" : "3",
            "5" : "3+",
            "6" : "4",
            "7" : "4+",
            "8" : "5",
        }
        let type = "{{type}}"
        remplirTexte(options)

      
        pillsSuccess = document.getElementById('pills-success')
        pillsSuccess.addEventListener('click', event => {
            if (pillsSuccess.classList.contains("btn-secondary")) {
                pillsSuccess.classList.remove("btn-secondary")
                pillsSuccess.classList.add("btn-primary")
                options["with-success"] = true;
            }
            else{
                pillsSuccess.classList.add("btn-secondary")
                pillsSuccess.classList.remove("btn-primary")
                options["with-success"] = false;
            }
            remplirTexte(options)
        });
        pillsRemarque = document.getElementById('pills-remarques')
        pillsRemarque.addEventListener('click', event => {
            if (pillsRemarque.classList.contains("btn-secondary")) {
                pillsRemarque.classList.remove("btn-secondary")
                pillsRemarque.classList.add("btn-primary")
                options["with-remarque"] = true;
            }
            else{
                pillsRemarque.classList.add("btn-secondary")
                pillsRemarque.classList.remove("btn-primary")
                options["with-remarque"] = false;
            }
            remplirTexte(options)
        });

        function remplirTexte(options){
            let text = "";
        
            affichage.forEach(obj => {
                isAngleMax = typeof obj["angle_max"]
                isValueMax = typeof obj["valeur_max"]
                value = (type == "Musculaire") ? valeurMusculaire[obj["valeur"]] : obj["valeur"]
                console.log(value)
                if(options["with-success"] == true){
                    {% if articulation is not defined %}
                    {% set articulation = false %}
                    {% endif %}
                    if(Boolean({{articulation}})){
                        text = text.concat(obj["item_articulation"]+" ")
                    }
                    text = text.concat(obj["item_nom"] + " " + obj["cote"] +" : " + value)
                    if(isAngleMax !== "undefined"){
                        console.log(typeof obj["angle_max"])
                        text = text.concat("°/" + obj["angle_max"]+"°")
                    }
                    if(options["with-remarque"] == true && !(obj["remarque"] == null)){
                        text = text.concat(" || Rmq : " + obj["remarque"])
                    }
                    text = text.concat("\r\n")   
                }
                else if(obj["valeur"] == "non"){
                    text = text.concat(obj["item_nom"] + " " + obj["cote"] +" : " + value)
                    if(options["with-remarque"] == true && !(obj["remarque"] == null)){
                        text = text.concat(" || Rmq : " + obj["remarque"])
                    }
                    text = text.concat("\r\n")   
                }
                else if(isValueMax !== "undefined" && obj["valeur_max"] !== obj["valeur"]){
                    if(Boolean({{articulation}})){
                        text = text.concat(obj["item_articulation"]+" ")
                    }
                    text = text.concat(obj["item_nom"] + " " + obj["cote"] +" : " + value)
                    if(options["with-remarque"] == true && !(obj["remarque"] == null)){
                        text = text.concat(" || Rmq : " + obj["remarque"])
                    }
                    text = text.concat("\r\n")   
                }
                else if(isAngleMax !== "undefined" && obj["angle_max"] !== obj["valeur"]){
                    text = text.concat(obj["item_articulation"]+" "+obj["item_nom"] + " " + obj["cote"] +" : " + obj["valeur"]+"°/" + obj["angle_max"]+"°")
                    if(options["with-remarque"] == true && !(obj["remarque"] == null)){
                        text = text.concat(" || Rmq : " + obj["remarque"])
                    }
                    text = text.concat("\r\n")   
                }

            });          
            document.getElementById("extract").innerHTML = text;
        }
    </script>
{# if(options["with-success"] == true || conditionSuccessBinary ){
                    text = text.concat(obj["item_nom"] + " " + obj["cote"] +" : " + obj["valeur"]  ) 
                    if(options["with-remarque"] == true && !(obj["remarque"] == null)){
                        text = text.concat(" || Rmq : " + obj["remarque"])
                    }
                   text = text.concat("\r\n")        
                }
                else if (conditionSuccessAngle){
                    text = text.concat(obj["item_articulation"] + " " + obj["item_nom"] + " " + obj["cote"] +" : " + obj["valeur"]+" / " + obj["angle_max"]  ) 
                    if(options["with-remarque"] == true && !(obj["remarque"] == null)){
                        text = text.concat(" || Rmq : " + obj["remarque"])
                    }
                   text = text.concat("\r\n")   
                } #}
{% endblock %}
