
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Accueil{% endblock %}
{# {% block head %}
    {{ parent() }}
{% endblock %} #}
{% block content %}
        {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
            {% block jumbotron %}
                <h1 class="display-3">Mon compte</h1>
                <p class="lead">votre email: {{user.email}}</p>
                <p class="lead">votre établissement: {{user.organisation.nom}}</p>
                <hr class="my-4">
                <p>Vous pouvez retrouvez la liste de vos patient en cliquant sur l'onglet 'Mes Patients' ou bien créer un nouveau patient dans l'onglet 'Nouveau Patient'.</p>
            {% endblock %}
        {% endembed %}
{% endblock %}