<table class="table table-hover table-sm">
    <thead>
        <tr>
        <th scope="col">Position</th>
        <th scope="col">Côté</th>
        <th scope="col">Réussi</th>
        <th scope="col">Remarque</th>
        </tr>
    </thead>
    <tbody>
        {% for resultat in bilan.resultats %}
            {% set item = resultat.itemTest.nom %}
            {% if item|last == "A" and resultat.cote == 0 %}
                <tr class="table-primary">
                     <th colspan="4">
                        {{ item|replace({'_': ' ', 'A': "", 'Bis': " Bis"}) }}
                    </th>
                </tr>
            {% endif %}
            {% if resultat.cote == 0 %}
                <tr class="table-secondary">
                    <td rowspan=2>{{resultat.itemTest.descriptif}}</td>
                    <td>G</td>
                    <td>{% if resultat.value == 1%}<i class="fas fa-check" style="color: green;"></i>{%else%}<i class="fas fa-times" style="color: red;"></i>{%endif%}</td>
                    <td>{{resultat.remarque}}</td>
                </tr>
            {% elseif resultat.cote == 1%}
                <tr class="table-secondary">
                    <td>D</td>
                    <td>{% if resultat.value == 1%}<i class="fas fa-check" style="color: green;"></i>{%else%}<i class="fas fa-times" style="color: red;"></i>{%endif%}</td>
                    <td>{{resultat.remarque}}</td>
                </tr>
            {% endif %}
        {% endfor %}  
    </tbody>
</table> 