

{% set valeurMusculaire = {
    "0" : "0",
    "1" : "1",
    "2" : "2",
    "3" : "2+",
    "4" : "3",
    "5" : "3+",
    "6" : "4",
    "7" : "4+",
    "8" : "5",
} %}

<table class="table table-sm table-secondary">
    <thead>
        <tr>
            <th scope="col">Articulation</th>
            <th scope="col">Mouvement</th>
            <th scope="col">Côté</th>
            <th scope="col">Valeur</th>
            <th scope="col">Remarques</th>       
        </tr>
    </thead>
    <tbody>
        {% for resultat in bilan.resultats %}
            {% if resultat.cote == 0 %}
                <tr >
                    <td rowspan=2>{{resultat.itemTest.articulation}}</td>
                    <td rowspan=2>{{resultat.itemTest.nom}}</td>
                    <td>G</td>
                    <td>{{valeurMusculaire[resultat.value]}}</td>
                    <td>{{resultat.remarque}}</td>
                </tr>
            {% elseif resultat.cote == 1 %}
                <tr >
                    <td>D</td>
                    <td>{{valeurMusculaire[resultat.value]}}</td>
                    <td>{{resultat.remarque}}</td>
                </tr>
            {% endif %}
        {% endfor %}  
    </tbody>
</table> 