<table class="table table-hover table-sm table-secondary">
    <thead>
        <tr>
            <th scope="col">Articulation</th>
            <th scope="col">Mouvement</th>
            <th scope="col">Côté</th>
            <th scope="col">Angle Max</th>
            <th scope="col">Angle</th>
            <th scope="col">Remarques</th>  
            <th scope="col">Causes</th>    
        </tr>
    </thead>
    <tbody>
        {% for resultat in bilan.resultats %}
            {% if resultat.cote == 0 %}
                <tr class="">
                    <td rowspan=2>{{resultat.itemTest.articulation}}</td>
                    <td rowspan=2>{{resultat.itemTest.nom}}</td>
                    <td>G</td>
                    <td>{{resultat.itemTest.angleMax}}</td>
                    <td>{{resultat.value}}</td>
                    <td>{{resultat.remarque}}</td>
                    <td>
                    {% for cause in resultat.causes %}
                    {{cause.nom}},
                    {% endfor %}
                    </td>
                </tr>
            {% elseif resultat.cote == 1 %}
                <tr class="">
                    <td>D</td>
                    <td>{{resultat.itemTest.angleMax}}</td>
                    <td>{{resultat.value}}</td>
                    <td>{{resultat.remarque}}</td>
                    <td>
                    {% for cause in resultat.causes %}
                    {{cause.nom}},
                    {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}  
    </tbody>
</table> 