<table class="table table-sm table-secondary">
    <thead>
        <tr>
        <th scope="col">Position</th>
        <th scope="col">Côté</th>
        <th scope="col">Réussi</th>
        <th scope="col">Remarque</th>
        </tr>
    </thead>
    <tbody>
        {% for resultat in bilan.resultats %}
            {% if resultat.cote == 0 %}
                <tr >
                    <td rowspan=2>{{resultat.itemTest.nom}}</td>
                    <td>G</td>
                    <td class="align-center">{% if resultat.value == 1%}<i class="fas fa-check" style="color: green;"></i>{%else%}<i class="fas fa-times" style="color: red;"></i>{%endif%}</td>
                    <td>{{resultat.remarque}}</td>
                </tr>
            {% elseif resultat.cote == 1%}
                <tr >
                    <td>D</td>
                    <td class="align-center">{% if resultat.value == 1%}<i class="fas fa-check" style="color: green;"></i>{%else%}<i class="fas fa-times" style="color: red;"></i>{%endif%}</td>
                    <td>{{resultat.remarque}}</td>
                </tr>
            {% endif %}
        {% endfor %}  
    </tbody>
</table> 