<div class="checkbox">
    <label for="app2bundle_bilans_bilangestetest_resultats_{{idGesteTest}}_value" class="required">
    <input type="checkbox" id="app2bundle_bilans_bilangestetest_resultats_{{idGesteTest}}_value" name="app2bundle_bilans_bilangestetest[resultats][{{idGesteTest}}][value]"
                        required="required" value="1" />
    </label>
</div>