
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" href="{{ path(('_homepage'))}}">Bilan-Habillage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="nav-link" href="{{ path('fos_user_security_logout') }}" >Déconnexion </a>
          {% else %}
            <a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a>
          {% endif %}
      </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      {# <li class="nav-item">    
             <a class="nav-link" href="{{ path(('_homepage'))}}">Mon compte </a>
      </li>  #}
      <li class="nav-item">
        <a class="nav-link" href="{{ path(('app2_get_my_patients'))}}">Mes Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app2_patient_create') }}">Nouveau Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app2_configuration_landing') }}">Configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('fos_user_change_password') }}">Changer mot de passe</a>
      </li>
       {% endif %}
    </ul>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> #}
    {% endif %}
  </div>
</nav>