                   
<table class="table table-sm table-hover">
    <thead>
        <tr>
        {% if with_name == true %}
        <th scope="col" >Nom</th>
        {% endif %}
        <th scope="col">Date</th>
        {% if with_modify == true %}
        <th scope="col">Modifier</th>
        {% endif %}
        <th scope="col">Supprimer</th>
        {% if with_extract == true %}
        <th scope="col">Extract</th>
        {% endif %}
        <th scope="col">Voir le bilan</th>
        </tr>
    </thead>
    <tbody>
        {% for bilan in bilans %}
            <tr class="table-active ">
            {% if with_name == true %}
            <th scope="row">{{bilan.nom}}</th>
            <td>{{bilan.dateAjout|date("d/m/Y")}}</td>
            {% else %}
            <th scope="row">{{bilan.dateAjout|date("d/m/Y")}}</th>
            {% endif %}
            {% if with_modify == true %}         
              <td class="align-center"><a href="{{ path(path_modify, {'idBilan': bilan.id}) }}">
                <button type="button" class="btn  btn-sm btn-warning">
                    <img class="flaticon-sm" src="{{ asset('bundles/app2/img/edit-white.png') }}" />
                </button>
            </td>
            {% endif %}
            <td class="align-center"><a href="{{ path(path_delete, {'idBilan': bilan.id}) }}">
                <button type="button" class="btn  btn-sm btn-danger">
                    <img class="flaticon-sm" src="{{ asset('bundles/app2/img/delete-white.png') }}" />
                </button>
            </td>
            {% if with_extract == true %}         
              <td class="align-center"><a href="{{ path(path_extract, {'idBilan': bilan.id}) }}">
                <button type="button" class="btn  btn-sm btn-success">
                    <img class="flaticon-sm" src="{{ asset('bundles/app2/img/export-white.png') }}" />
                </button>
            </td>
            {% endif %}
            <td class="align-center"><a href="{{ path(path_details, {'idBilan': bilan.id}) }}">
                <button type="button" class="btn  btn-sm btn-info">
                    <img class="flaticon-sm" src="{{ asset('bundles/app2/img/details-white.png') }}" />
                </button>
            </td>
            </tr>
        {% endfor %}
        
    <tbody>
</table>