
{% set valeurMusculaire = {
    "0" : "0",
    "1" : "1",
    "2" : "2",
    "3" : "2+",
    "4" : "3",
    "5" : "3+",
    "6" : "4",
    "7" : "4+",
    "8" : "5",
} %}

{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <p class="lead">Comparaison de deux bilans musculaire</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Articulation</th>
                    <th scope="col">Rotation</th>
                    <th scope="col">Côté</th>
                    {% for key, bilan in bilans %}
                    <th scope="col">{{bilan.nom}}</th>
                    {% endfor %}
                    <th scope="col">Evolution</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, articulation in affichage %}
                        {% for key2, articulaire in articulation %}
                            <tr >
                                <td rowspan=2>{{key}}</td>
                                <td rowspan=2>{{key2}}</td>
                                <td>G</td>
                                {% for value in articulaire[0] %}
                                    <td class="align-center">{{valeurMusculaire[value]}}</td>
                                {% endfor %}
                                {% if articulaire[0]|last == articulaire[0]|first  %}
                                        <td class="align-center" ></td>
                                {% elseif articulaire[0]|last > articulaire[0]|first%}
                                         <td class="align-center" style="background-color: green;" >+</td>
                                {% else %}
                                        <td class="align-center" style="background-color: red;">-</td>
                                {% endif %}                        
                            </tr>
                                <td>D</td>
                                {% for value in articulaire[1] %}
                                    <td class="align-center">{{valeurMusculaire[value]}}</td>
                                {% endfor %}
                                {% if articulaire[1]|last == articulaire[1]|first  %}
                                        <td class="align-center" ></td>
                                {% elseif articulaire[1]|last == articulaire[1]|first %}
                                         <td class="align-center" style="background-color: green;" >+</td>
                                {% elseif articulaire[1]|last > articulaire[1]|first %}
                                         <td class="align-center" style="background-color: green;" >+</td>
                                {% else %}
                                        <td class="align-center" style="background-color: red;">-</td>
                                {% endif %}           
                            </tr>
                        {% endfor %}  
                    {% endfor %}  

                    {# {% for key, articulations in affichage %}
                        {% for key2, articulaire in articulations %}
                            {% if articulaire[0].bilan1 > articulaire[0].bilan2 %}
                            <tr class="table-warning">
                            {% elseif articulaire[0].bilan1 < articulaire[0].bilan2 %}
                            <tr class="table-success">
                            {% else %}
                            <tr class="table-primary">
                            {% endif %}
                                <td rowspan=2>{{key}}</td>
                                <td rowspan=2>{{key2}}</td>
                                <td>G</td>
                                <td>{{articulaire[0].bilan1}}</td>
                                <td>{{articulaire[0].bilan2}}</td>
                            </tr>
                            {% if articulaire[1].bilan1 > articulaire[1].bilan2%}
                            <tr class="table-warning">
                            {% elseif articulaire[1].bilan1 < articulaire[1].bilan2%}
                            <tr class="table-success">
                            {% else %}
                            <tr class="table-primary">
                            {% endif %}
                                <td>D</td>
                                <td>{{articulaire[1].bilan1}}</td>
                                <td>{{articulaire[1].bilan2}}</td>
                            </tr>
                        {% endfor %}  
                    {% endfor %}   #}
                </tbody>
            </table>
            <a href="{{ path('app2_get_one_patient', {'idPatient': patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au dossier patient
                    </button>
                </a>
        {% endblock %}
    {% endembed %}
{% endblock %}
