{% set valeurMusculaire = {
    "0" : "0",
    "1" : "1",
    "2" : "2",
    "3" : "2+",
    "4" : "3",
    "5" : "3+",
    "6" : "4",
    "7" : "4+",
    "8" : "5",
} %}


{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Créer un Bilan Musculaire{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <h3 class="align-center">
            {% if modify is defined %}Modification Bilan Musculaire
            {% else %}Nouveau Bilan Musculaire
            {% endif %}</h3>
              {% if global is defined and global is not null %}
                 <a href="{{ path('app2_bilan_musculaire_create_before', {'idPatient' : patient.id, 'idBilan' : global.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Générer à partir d'un autre bilan
                    </button>
                </a>
             {% elseif modify is not defined %}
             <a href="{{ path('app2_bilan_musculaire_create_before', {'idPatient': patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Générer à partir d'un autre bilan
                    </button>
                </a>
             {% endif %}
            {{ form_start(form) }}
            <table class="table table-sm table-secondary">
                <thead class="" >
                    <tr>
                    <th scope="col">Articulation</th>
                    <th scope="col">Mouvement</th>
                    <th scope="col">Côté</th>
                     {% if modify is not defined %}
                    <th scope="col">Info</th>
                    {% endif %}
                    <th scope="col">Valeurs</th>
                    <th scope="col">Remarques</th>  
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {% for key, articulation in affichage %}
                        {% for articulaire in articulation %}
                            <tr >
                                <td rowspan=2>{{key}}</td>
                                <td rowspan=2>{{articulaire.nom}}</td>
                                <td>G</td>
                                {% if modify is not defined %}
                                <td>
                                    {% if articulaire['condition_g'] is defined and articulaire['condition_g'] is not null %}
                                        <button type="button"  data-toggle="popover" title="Informations venant d'un autre bilan" 
                                            {% if articulaire['condition_g']['operateur'] == "=" and articulaire['condition_g']['value'] == 8 %}
                                                class="btn btn-sm btn-success" data-content="Cette valeur devrait être à la valeur {{valeurMusculaire[articulaire['condition_g']['value']]}}"
                                            {% elseif articulaire['condition_g']['operateur'] == "="  %}
                                                class="btn btn-sm btn-warning" data-content="Cette valeur devrait être à la valeur {{valeurMusculaire[articulaire['condition_g']['value']]}}"
                                            {% elseif articulaire['condition_g']['operateur'] == ">"%}
                                                 class="btn btn-sm btn-info" data-content="Cette valeur devrait être supérieure à {{valeurMusculaire[articulaire['condition_g']['value']]}}"
                                            {% elseif articulaire['condition_g']['operateur'] == "<"  %}
                                                class="btn btn-sm btn-warning" data-content="Cette valeur devrait être inférieure à {{valeurMusculaire[articulaire['condition_g']['value']]}}"
                                            {% endif %}
                                        >info</button>
                                    {% endif %}
                                </td>
                                {% endif %}
                                <td>
                                <div class="form-group">
                                    <select class="form-control form-control-xs" id="app2bundle_bilans_bilan_musculaire_resultats_{{i}}_value" name="app2bundle_bilans_bilanmusculaire[resultats][{{i}}][value]" >
                                    {% set countSelected = 0 %}
                                    {% for j in 0..(valeurMusculaire|length)-1 %}
                                        {% if articulaire['condition_g'] is defined and articulaire['condition_g'] is not null and articulaire['condition_g']['value'] == j and ( articulaire['condition_g']['operateur'] ==  "=" or articulaire['condition_g']['operateur'] ==  "<"  ) %}
                                            {% set countSelected = 1 %}
                                                <option value="{{j}}" selected="selected">{{valeurMusculaire[j]}}</option>                                           
                                         {% elseif articulaire['value_g'] is defined and j == articulaire['value_g'] %}
                                            {% set countSelected = 1 %}
                                            <option value="{{j}}" selected="selected">{{valeurMusculaire[j]}}</option>       
                                         {% elseif countSelected == 0 and j == valeurMusculaire|length-1 %}
                                            <option value="{{j}}" selected="selected">{{valeurMusculaire[j]}}</option>
                                        {% else %}
                                                <option value="{{j}}">{{valeurMusculaire[j]}}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>

                                </div>
                                <input id="app2bundle_bilans_bilan_musculaire_resultats_{{i}}_cote" name="app2bundle_bilans_bilanmusculaire[resultats][{{i}}][cote]" type="hidden" value="0">
                                <input id="app2bundle_bilans_bilan_musculaire_resultats_{{i}}_itemTest" name="app2bundle_bilans_bilanmusculaire[resultats][{{i}}][itemTest]" type="hidden" value="{{articulaire.id}}">
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-xs" placeholder="Remarques..." id="app2bundle_bilans_bilanmusculaire_resultats_{{i}}_remarque" 
                                        name="app2bundle_bilans_bilanmusculaire[resultats][{{i}}][remarque]">
                                    </div>
                                </td>
                            </tr>
                            {% set i = i + 1 %}  
                            <tr >
                                <td>D</td>
                                {% if modify is not defined %}
                                <td>
                                    {% if articulaire['condition_d'] is defined and articulaire['condition_d'] is not null %}
                                        <button type="button"  data-toggle="popover" title="Informations venant d'un autre bilan" 
                                             {% if articulaire['condition_d']['operateur'] == "=" and articulaire['condition_d']['value'] == 8 %}
                                                class="btn btn-sm btn-success" data-content="Cette valeur devrait être à la valeur {{valeurMusculaire[articulaire['condition_d']['value']]}}"
                                            {% elseif articulaire['condition_d']['operateur'] == "="  %}
                                                class="btn btn-sm btn-warning" data-content="Cette valeur devrait être à la valeur {{valeurMusculaire[articulaire['condition_d']['value']]}}"
                                            {% elseif articulaire['condition_d']['operateur'] == ">"%}
                                                 class="btn btn-sm btn-info" data-content="Cette valeur devrait être supérieure à {{valeurMusculaire[articulaire['condition_d']['value']]}}"
                                            {% elseif articulaire['condition_d']['operateur'] == "<"  %}
                                                class="btn btn-sm btn-warning" data-content="Cette valeur devrait être inférieure à {{valeurMusculaire[articulaire['condition_d']['value']]}}"
                                            {% endif %}
                                        >info</button>
                                    {% endif %}
                                </td>
                                {% endif %}
                                <td>
                                <div class="form-group">
                                    <select class="form-control form-control-xs" id="app2bundle_bilans_bilan_musculaire_resultats_{{i}}_value" name="app2bundle_bilans_bilanmusculaire[resultats][{{i}}][value]" >
                                    {% set countSelected = 0 %}
                                    {% for j in 0..(valeurMusculaire|length)-1 %}
                                        {% if articulaire['condition_d'] is defined and articulaire['condition_d'] is not null and articulaire['condition_d']['value'] == j and ( articulaire['condition_d']['operateur'] ==  "=" or articulaire['condition_d']['operateur'] ==  "<"  ) %}
                                            {% set countSelected = 1 %}
                                                <option value="{{j}}" selected="selected">{{valeurMusculaire[j]}}</option>  
                                        {% elseif articulaire['value_d'] is defined and j == articulaire['value_d'] %}
                                            {% set countSelected = 1 %}
                                            <option value="{{j}}" selected="selected">{{valeurMusculaire[j]}}</option>                                         
                                         {% elseif countSelected == 0 and j == valeurMusculaire|length-1 %}
                                            <option value="{{j}}" selected="selected">{{valeurMusculaire[j]}}</option>
                                        {% else %}
                                                <option value="{{j}}">{{valeurMusculaire[j]}}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>

                                </div>
                                <input id="app2bundle_bilans_bilan_musculaire_resultats_{{i}}_cote" name="app2bundle_bilans_bilanmusculaire[resultats][{{i}}][cote]" type="hidden" value="1">
                                <input id="app2bundle_bilans_bilan_musculaire_resultats_{{i}}_itemTest" name="app2bundle_bilans_bilanmusculaire[resultats][{{i}}][itemTest]" type="hidden" value="{{articulaire.id}}">
                                </td>
                                <td>
                                    <div class="form-group">
                                         <input type="text" class="form-control form-control-xs" placeholder="Remarques..." id="app2bundle_bilans_bilanmusculaire_resultats_{{i}}_remarque" 
                                        name="app2bundle_bilans_bilanmusculaire[resultats][{{i}}][remarque]">
                                    </div>
                                </td>
                            </tr>

                            {% set i = i + 1 %}               
                        {% endfor %}
                    {% endfor %}
                <tbody>
            </table>      
            {% do form.resultats.setRendered %}
            
          
            {{ form_end(form) }}

            
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
        {{ parent() }}
         {% set i = 0 %} 
        <script type="text/javascript">  
         {% for key, articulation in affichage %}
        {% for articulaire in articulation %}
            {% if articulaire['remarque_g'] is defined and articulaire['remarque_g'] is not null  %}
                document.getElementById("app2bundle_bilans_bilanmusculaire_resultats_{{i}}_remarque").value = "{{articulaire['remarque_g']}}" 
            {% endif %}
            {% set i = i + 1 %}
            {% if articulaire['remarque_d'] is defined and articulaire['remarque_d'] is not null  %}
                document.getElementById("app2bundle_bilans_bilanmusculaire_resultats_{{i}}_remarque").value = "{{articulaire['remarque_d']}}" 
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
        {% endfor %}
        </script>
{% endblock %}
   
