
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Créer un patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <p class="lead">Bilan Musculaire du {{bilanMusculaire.dateAjout|date("d/m/Y") }}</p>
                {% include '@App2Bundle/Resources/views/Layout/components/bilanMusculaireResultat.html.twig' 
                with {
                    'bilanMusculaire': bilanMusculaire
                } %}
            {% if bilanMusculaire.bilan is not null %}
                <a href="{{ path('app2_bilan_get_one', {'idBilan': bilanMusculaire.bilan.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au bilan global
                    </button>
                </a>
            {% elseif bilanMusculaire.patient is not null %}
                <a href="{{ path('app2_get_one_patient', {'idPatient': bilanMusculaire.patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au dossier patient
                    </button>
                </a>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
