<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>COVER bilan habillage{% block title %}{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      {# {% stylesheets 
                  'bundles/cvrapp/css/vis.css'
                  'bundles/cvrapp/css/bilan.css'
                  'bundles/cvrapp/css/bootstrap.css'
                  'bundles/cvrapp/css/jquery.steps.css'
                  filter='cssrewrite' %}
                   <link rel="stylesheet" href="{{ asset_url }}" />
                  {% endstylesheets %} #}
  {% endblock %}
  <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>

</head>

<body style="background-color: rgb(240,238,240);">

<nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('cvr_app_listepatients') }}" class="scroll-link">
          Vos Patients</a></li>
            <li><a href="{{ path('cvr_app_nouveaupatient') }}" class="scroll-link">
            Nouveau Patient</a></li>
            <!-- <li><a href="{{ path('cvr_app_selectionpatient') }}" class="scroll-link">
            Nouveau Bilan
          </a></li> -->
        </ul>
          <div class="navbar-text navbar-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('cvr_app_homepage') }}" style="color: white">{{ app.user.username }}   </a>
            <a href="{{ path('fos_user_security_logout') }}" style="color: white">Déconnexion  </a>
            
            {% else %}
            <a href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% endif  %}
          </div>
        </div>
      </div>
    </nav>

    {# <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><a href="{{ path('cvr_app_listepatients') }}" >Vos Patients</a></li></a>
      </li>
      <li class="nav-item">
        <a href="{{ path('cvr_app_nouveaupatient') }}" class="scroll-link"> Nouveau Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
       {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="nav-item" href="{{ path('cvr_app_homepage') }}">{{ app.user.username }}   </a>
            <a class="nav-item" href="{{ path('fos_user_security_logout') }}">Déconnexion  </a>
            
            {% else %}
            <a class="nav-item" href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% endif  %}
    </form>
  </div>
</nav> #}
  

  <div class="container-page">
    
    {# Dans notre layout, il faut définir le block body #}
{% block body %}

  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
  {% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="alert alert-{{ key }}">
        {{ message|trans({}, 'FOSUserBundle') }}
      </div>
    {% endfor %}
    {% endfor %}

    {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
    {% block fos_user_content %}
    {% endblock fos_user_content %}

    {% endblock %}
</div>



{% block javascripts %}
{# {% javascripts 
'@CVRAppBundle/Resources/public/js/jquery-3.1.1.min.js'
'@CVRAppBundle/Resources/public/js/jquery.steps.min.js'
'@CVRAppBundle/Resources/public/js/jquery.validate.min.js'
'@CVRAppBundle/Resources/public/js/bootstrap.js'
'@CVRAppBundle/Resources/public/js/bilan.js' 
'@CVRAppBundle/Resources/public/js/jquery.bootgrid.min.js'
'@CVRAppBundle/Resources/public/js/vis.js' %}
    <script type="text/javascript" src="{{ asset_url}}"></script>

{% endjavascripts %} #}
    {% endblock %}






</body>
</html>