
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <h3 class="align-center">Comparaison de deux bilans 
             {% if nomBilan == "Kapandji" %}
             {{nomBilan}} (Test d'opposition du I)
             {% else %}
             {{nomBilan}}
             {% endif %}
             </h3>
            <table class="table table-secondary table-sm">
                <thead>
                    <tr>
                    <th scope="col">{{columns[0]}}</th>
                    <th scope="col">Côté</th>
                    {% for key, bilan in bilans %}
                    <th scope="col">{{bilan.nom}}</th>
                    {% endfor %}
                    <th scope="col">Evolution</th>
                    </tr>
                </thead>
                <tbody>
                    {% set evolution_positive_g = 0 %}
                    {% set evolution_negative_g = 0 %}
                    {% set evolution_positive_d = 0 %}
                    {% set evolution_negative_d = 0 %}
                    {% for key, item in affichage %}
                            <tr>
                                <td rowspan=2>{{key}}</td>
                                <td>G</td>
                                {% for value in item[0] %}
                                    <td class="align-center">{% if value == 1%}<i class="fas fa-check" style="color: green;"></i>{%else%}<i class="fas fa-times" style="color: red;"></i>{%endif%}</td>
                                {% endfor %}
                                {% if item[0]|last > item[0]|first %}
                                        <td class="align-center" style="background-color: green;">+</td> 
                                        {% set evolution_positive_g = evolution_positive_g + 1 %}
                                {%elseif item[0]|last < item[0]|first  %}
                                        <td class="align-center" style="background-color: red;">-</td>
                                        {% set evolution_negative_g = evolution_negative_g + 1 %}
                                {%else %}
                                        <td class="align-center" ></td>
                                {%endif%}                     
                            </tr>
                            <tr>
                                <td>D</td>
                                {% for value in item[1] %}
                                    <td class="align-center">{% if value == 1%}<i class="fas fa-check" style="color: green;"></i>{%else%}<i class="fas fa-times" style="color: red;"></i>{%endif%}</td>
                                {% endfor %}
                                {% if item[1]|last > item[1]|first %}
                                        <td class="align-center" style="background-color: green;">+</td>
                                         {% set evolution_positive_d = evolution_positive_d + 1 %} 
                                {%elseif item[1]|last < item[1]|first  %}
                                        <td class="align-center" style="background-color: red;">-</td>
                                        {% set evolution_negative_d = evolution_negative_d + 1 %}
                                {%else %}
                                        <td class="align-center" ></td>
                                {%endif%}                     
                            </tr>
                    {% endfor %}  
                </tbody>
            </table>
            <h5 >Entre le premier bilan ({{(bilans|first).dateAjout|date("d/m/Y")}}) et le dernier ({{(bilans|last).dateAjout|date("d/m/Y")}}) 
             {% if evolution_negative_g + evolution_negative_d + evolution_positive_g + evolution_positive_d > 0 %} 
                il y a eu :<br>
                {% if evolution_negative_g + evolution_negative_d > 0 %} 
                - {{evolution_negative_g + evolution_negative_d}} {{columns[0]}} avec une évolution négative, dont {{evolution_negative_g}} à gauche et {{evolution_negative_d}} à droite<br>
                {% endif %}
                {% if evolution_positive_g + evolution_positive_d > 0 %} 
                - {{evolution_positive_g + evolution_positive_d}} {{columns[0]}} avec une évolution positive, dont {{evolution_positive_g}} à gauche et {{evolution_positive_d}} à droite <br>
                {% endif %}
            {% else %}
             il n'y a eu aucun changement
             {% endif %}
            </h5>
            <a href="{{ path('app2_get_one_patient', {'idPatient': patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au dossier patient
                    </button>
                </a>
        {% endblock %}
    {% endembed %}
{% endblock %}
