
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Créer un patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            {# {{dump(gesteTests)}} #}
            <p class="lead"><strong>Nouveau Bilan Geste-Test</strong></p>
            {{ form_start(form) }}
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Geste test</th>
                    <th scope="col">Gauche</th>
                    <th scope="col">Remarques</th>
                    <th scope="col">Droite</th>
                    <th scope="col">Remarques</th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {# On regarde la liste des geste test #}
                    {% for gestetest in gesteTests %}
                    <tr class="table-primary">
                        {# Ici on affiche un formulaire de type résultat pour chaque geste test et pour chaque côté #}
                        <th scope="row">{{gestetest.nom}}</th>
                        <td>
                          {# On affiche la checkbox #}
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="app2bundle_bilans_bilangestetest_resultats_{{i}}_value" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][value]"
                                                     value="1" checked>
                            <label class="custom-control-label" for="app2bundle_bilans_bilangestetest_resultats_{{i}}_value"></label>
                          </div>
                          {# On choisi le côté ici value=0 donc gauche #}
                          <input id="app2bundle_bilans_bilangestetest_resultats_{{i}}_cote" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][cote]" type="hidden" value="0">
                          {# On choisi l'item test, c'est à dire l'id du geste test #}
                          <input id="app2bundle_bilans_bilangestetest_resultats_{{i}}_itemTest" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][itemTest]" type="hidden" value="{{gestetest.id}}">

                        </td>
                        <td>
                            <div class="form-group">
                                {# <label class="col-form-label" for="inputDefault">Default input</label> #}
                                <input type="text" class="form-control" placeholder="Remarques..." id="app2bundle_bilans_bilangestetest_resultats_{{i}}_remarque" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][remarque]">
                            </div>
                        </td>
                    {% set i = i +1 %}
                        <td>
                            <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="app2bundle_bilans_bilangestetest_resultats_{{i}}_value" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][value]"
                                                     value="1" checked>
                            <label class="custom-control-label" for="app2bundle_bilans_bilangestetest_resultats_{{i}}_value"></label>
                          </div>
                          <input id="app2bundle_bilans_bilangestetest_resultats_{{i}}_cote" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][cote]" type="hidden" value="1">
                           <input id="app2bundle_bilans_bilangestetest_resultats_{{i}}_itemTest" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][itemTest]" type="hidden" value="{{gestetest.id}}">

                        </td>
                        <td>
                            <div class="form-group">
                                {# <label class="col-form-label" for="inputDefault">Default input</label> #}
                                <input type="text" class="form-control" placeholder="Remarques..." id="app2bundle_bilans_bilangestetest_resultats_{{i}}_remarque" name="app2bundle_bilans_bilangestetest[resultats][{{i}}][remarque]">
                            </div>
                        </td>
                     </tr>
                     {% set i = i +1 %}
                    {% endfor %}
                    
                <tbody>
            </table>      
            {% do form.resultats.setRendered %}
              
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
        {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            console.log("ldlsdmlml");
        });
    </script>
{% endblock %}
   
