{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Résultat bilan {{type}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <h3 class="align-center">Bilan 
             {% if type == "Kapandji" %}
             {{type}} (Test d'opposition du I)
             {% else %}
             {{type}}
             {% endif %}
             du {{bilan.dateAjout|date("d/m/Y") }}
             </h3>

         
            <div style = "margin-bottom: 0.5rem;">
            {% if bilan.bilan is not null %}
                <a href="{{ path('app2_bilan_get_one', {'idBilan': bilan.bilan.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au bilan global
                    </button>
                </a>
            {% endif %}
            {% if bilan.patient is not null %}
                <a href="{{ path('app2_get_one_patient', {'idPatient': bilan.patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au dossier patient
                    </button>
                </a>
            {% endif %}
            <a href="{{ path(paths.extract, {'idBilan': bilan.id}) }}">
                    <button type="button" class="btn btn-success">
                    Exporter au format texte
                    </button>
                </a>
            <a href="{{ path(paths.modify, {'idBilan': bilan.id}) }}">
                    <button type="button" class="btn btn-warning">
                    Modifier
                    </button>
                </a>
            </div>
            
             {% if type == 'Habillage' %}
             <div style = "margin-bottom: 0.5rem;">
                <a href="{{ path('app2_bilan_geste_test_create', {'idPatient': bilan.patient.id, 'bilan_habillage': bilan.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Générer un bilan geste-test
                    </button>
                </a>

                <a href="{{ path('app2_bilan_musculaire_create', {'idPatient': bilan.patient.id, 'bilan_habillage': bilan.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Générer un bilan musculaire
                    </button>
                </a>
            
                <a href="{{ path('app2_bilan_articulaire_create', {'idPatient': bilan.patient.id, 'bilan_habillage': bilan.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Générer un bilan articulaire
                    </button>
                </a>
             </div>

            {% endif %}
                {% if bilan.totalG is defined and bilan.totalD is defined %}
                <p>Score gauche : {{bilan.totalG}}/30 </p>
                <p>Score droite : {{bilan.totalD}}/30 </p>
                {% endif %}

                {% include '@App2Bundle/Resources/views/Layout/components/' ~ componentResultat ~ '.html.twig'  
                with {
                    'bilan': bilan
                } %}
            
        {% endblock %}
    {% endembed %}
{% endblock %}
