
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
 <div class="container" >
    <div class="row" >
        <div class="col-3 jumbotron">
            <h2>{{bilan.nom}}<h2>
            <hr class="my-4">
            <h3>Patient</h3>
            <p class="lead">Code patient: {{patient.codePatient}}</p>
            <p class="lead">Sexe: {{patient.sexe}}</p>
            <hr class="my-4">
             <a href="{{ path('app2_get_one_patient', {'idPatient': patient.id}) }}">
                        <button type="button" class="btn btn-primary">
                        Retour au dossier patient
                        </button>
                 </a>
        </div>
        <div class="col-9">
            <div class="col-9 jumbotron padding-min">
                <ul class="nav justify-content-center nav-pills nav-fill " id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-global-all-tab" data-toggle="pill" href="#pills-global-all" role="tab" aria-controls="pills-amm" aria-selected="true">Tous</a>
                    </li>
                    {# <li class="nav-item">
                        <a class="nav-link" id="pills-globaux-tab" data-toggle="pill" href="#pills-globaux" role="tab" aria-controls="pills-globaux" aria-selected="false">Globaux</a>
                    </li> #}
                    <li class="nav-item">
                        <a class="nav-link" id="pills-geste-test-tab" data-toggle="pill" href="#pills-geste-test" role="tab" aria-controls="pills-geste-test" aria-selected="false">Gestes-Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-articulaire-tab" data-toggle="pill" href="#pills-articulaire" role="tab" aria-controls="pills-articulaire" aria-selected="false">Articulaire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-musculaire-tab" data-toggle="pill" href="#pills-musculaire" role="tab" aria-controls="pills-musculaire" aria-selected="false">Musculaire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-kapandji-tab" data-toggle="pill" href="#pills-Kapandji" role="tab" aria-controls="pills-Kapandji" aria-selected="false">Kapandji</a>
                    </li>
                </ul>
            </div>
                <div class="col-9 jumbotron padding-min jumbotron-geste-test jumbotron-bilan">
                    <h3>Bilan Gestes-Test</h3>
                    {% if bilan.bilanGesteTest is null %}
                        <p>Pas encore de bilan gestes-test</p>
                        <a href="{{ path('app2_bilan_geste_test_create', {'idPatient' : patient.id, 'idBilan' : bilan.id}) }}"><button type="button" class="btn btn-success">Créer</button></a>
                    {% else %}
                        {% include '@App2Bundle/Resources/views/Layout/components/bilanGesteTestResultat.html.twig' 
                        with {
                            'bilan': bilan.bilanGesteTest
                        } %}
                    {% endif %}
                </div>
                <div class="col-9 jumbotron padding-min jumbotron-articulaire jumbotron-bilan">
                    <h3>Bilan Articulaire</h3>
                    {% if bilan.bilanArticulaire is null %}
                        <p>Pas encore de bilan articulaire</p>
                        <a href="{{ path('app2_bilan_articulaire_create', {'idPatient' : patient.id, 'idBilan' : bilan.id}) }}"><button type="button" class="btn btn-success">Créer</button></a>
                    {% else %}
                        {% include '@App2Bundle/Resources/views/Layout/components/bilanArticulaireResultat.html.twig' 
                        with {
                            'bilan': bilan.bilanArticulaire
                        } %}
                    {% endif %}
                </div>
                <div class="col-9 jumbotron padding-min jumbotron-kapandji jumbotron-bilan">
                    <h3>Bilan Kapandji (Test d'opposition du I)</h3>
                    {% if bilan.bilanKapandji is null %}
                        <p>Pas encore de bilan kapandji</p>
                        <a href="{{ path('app2_bilan_kapandji_create', {'idPatient' : patient.id, 'idBilan' : bilan.id}) }}"><button type="button" class="btn btn-success">Créer</button></a>
                    {% else %}
                        {% include '@App2Bundle/Resources/views/Layout/components/bilanKapandjiResultat.html.twig' 
                        with {
                            'bilan': bilan.bilanKapandji
                        } %}
                    {% endif %}
                </div>
                <div class="col-9 jumbotron padding-min jumbotron-musculaire jumbotron-bilan">
                    <h3>Bilan Musculaire</h3>
                    {% if bilan.bilanMusculaire is null %}
                        <p>Pas encore de bilan musculaire</p>
                        <a href="{{ path('app2_bilan_musculaire_create', {'idPatient' : patient.id, 'idBilan' : bilan.id}) }}"><button type="button" class="btn btn-success">Créer</button></a>
                    {% else %}
                        {% include '@App2Bundle/Resources/views/Layout/components/bilanMusculaireResultat.html.twig' 
                        with {
                            'bilan': bilan.bilanMusculaire
                        } %}
                    {% endif %}
                </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
                {{ encore_entry_script_tags('app') }}
                {{ encore_entry_script_tags('bilan-global') }}

                <!-- Renders app.js & a webpack runtime.js file
                    <script src="/build/runtime.js"></script>
                    <script src="/build/app.js"></script> -->
        {% endblock %}
