

{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
             <p class="lead">Votre inscription a bien été prise en compte.
             <br>connecté en tant que : {{user.username}}</p>
            {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
