{% trans_default_domain 'FOSUserBundle' %}

{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-primary" type="submit" type="submit" value="S'inscrire" />
                </div>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
