

{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Préparer un extract{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            {{ form_start(form) }}
            {{ form_row(form.geste_test) }}
            {{ form_row(form.articulaire) }}
            {{ form_row(form.musculaire) }}
            {{ form_row(form.kapandji) }}
            {% for bilanCustomSkeleton in bilansCustomSkeleton %}
                {{ form_row(_context["form"]["custom_"~ bilanCustomSkeleton.id]) }}
            {% endfor %}

            
             <table class="table table-secondary">
                <thead>
                    <tr>
                    <th scope="col">Nom du bilan</th>
                    <th scope="col">Dernier bilan</th>
                    <th scope="col">Deux derniers bilans</th>
                    <th scope="col">Trois derniers bilans</th>
                    <th scope="col">Tous les bilans</th>
                    </tr>
                </thead>
            <tbody>
                <tr class="line-input" data-class-input="input_nb_geste_test" data-bilan="geste-test" >
                    <td class="line-bilan" >Geste-test</td>
                    <td><input type="checkbox" data-bilan="geste-test" class="input-checkbox" value="1"></td>
                    <td><input type="checkbox" data-bilan="geste-test" class="input-checkbox" value="2"></td>
                    <td><input type="checkbox" data-bilan="geste-test" class="input-checkbox" value="3"></td>
                    <td><input type="checkbox" data-bilan="geste-test" class="input-checkbox" value="-1"></td>
                </tr>
                <tr class="line-input" data-class-input="input_nb_articulaire" data-bilan="articulaire" >
                    <td class="line-bilan" >Articulaire</td>
                    <td><input type="checkbox" data-bilan="articulaire" class="input-checkbox" value="1"></td>
                    <td><input type="checkbox" data-bilan="articulaire" class="input-checkbox" value="2"></td>
                    <td><input type="checkbox" data-bilan="articulaire" class="input-checkbox" value="3"></td>
                    <td><input type="checkbox" data-bilan="articulaire" class="input-checkbox" value="-1"></td>
                </tr>
                <tr class="line-input" data-class-input="input_nb_musculaire" data-bilan="musculaire" >
                    <td class="line-bilan" >Musculaire</td>
                    <td><input type="checkbox" data-bilan="musculaire" class="input-checkbox" value="1"></td>
                    <td><input type="checkbox" data-bilan="musculaire" class="input-checkbox" value="2"></td>
                    <td><input type="checkbox" data-bilan="musculaire" class="input-checkbox" value="3"></td>
                    <td><input type="checkbox" data-bilan="musculaire" class="input-checkbox" value="-1"></td>
                </tr>
                <tr class="line-input" data-class-input="input_nb_kapandji" data-bilan="kapandji" >
                    <td class="line-bilan" >Kapandji</td>
                    <td><input type="checkbox" data-bilan="kapandji" class="input-checkbox" value="1"></td>
                    <td><input type="checkbox" data-bilan="kapandji" class="input-checkbox" value="2"></td>
                    <td><input type="checkbox" data-bilan="kapandji" class="input-checkbox" value="3"></td>
                    <td><input type="checkbox" data-bilan="kapandji" class="input-checkbox" value="-1"></td>
                </tr>
                {% for bilanCustomSkeleton in bilansCustomSkeleton %}
                    <tr class="line-input" data-class-input="input_nb_{{bilanCustomSkeleton.id}}" data-bilan="{{bilanCustomSkeleton.id}}"  >
                        <td class="line-bilan">{{bilanCustomSkeleton.nom}}</td>
                        <td><input type="checkbox" data-bilan="{{bilanCustomSkeleton.id}}" class="input-checkbox" value="1"></td>
                        <td><input type="checkbox" data-bilan="{{bilanCustomSkeleton.id}}" class="input-checkbox" value="2"></td>
                        <td><input type="checkbox" data-bilan="{{bilanCustomSkeleton.id}}" class="input-checkbox" value="3"></td>
                        <td><input type="checkbox" data-bilan="{{bilanCustomSkeleton.id}}" class="input-checkbox" value="-1"></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            {{ form_end(form) }}
         {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('prepare-extract') }}
{% endblock %}
