{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}

            {% block fos_user_content %}
            {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
            {% endblock fos_user_content %}
        {% endblock %}
     {% endembed %}
{% endblock %}
