{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Page de configuration{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
                <a class="nav-link" href="{{ path('app2_bilan_custom_new') }}">Créer un nouveau bilan</a>
                <a class="nav-link" href="{{ path('app2_bilan_custom_list') }}">Liste des bilans de mon établissement</a>
        {% endblock %}
    {% endembed %}
{% endblock %}

