
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Bilan conseil sur l'habillage{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            {{ form_start(form) }}
            {# {{dump(itemTestToDisplay)}} #}
                <p class="lead">Bilan conseil sur l'habillage</p>
                {% for key, itemTestByKey in itemTestToDisplay %}
                {% if key == "sans_partie_corp" %}
                     {% for item in itemTestByKey %}
                    <div class="js-item" data-id-item="{{item.id}}">
                    <p>{{item.symptome}}</p></div>
                    {% endfor %}
                {% endif %}
                {% endfor %}
                 <div class="container-form"
                    data-prototype="{{ form_widget(form.resultats.vars.prototype)|e('html_attr') }}" >
                <table class="table table-sm table-secondary">
                <thead class="table-primary" >
                    <tr>
                    <th scope="col">Partie du corp</th>
                    <th scope="col">Douleurs</th>
                    <th scope="col">Faiblesse musculaire</th>
                    <th scope="col">Fatigue</th>
                    <th scope="col">Raideurs articulaires</th>
                    <th scope="col">Trouble de la sensibilité</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, itemTestByKey in itemTestToDisplay %}
                {% if key != "sans_partie_corp" %}
                    <tr>
                        <td>{{key}}</td>
                         {% for item in itemTestByKey %}
                        <td class="js-item" data-id-item="{{item.id}}"></td>
                        {% endfor %}
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
                </table>
                </div>
            {{ form_end(form) }}
         {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('create-bilan-conseil') }}
{% endblock %}