
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Bilan conseil sur l'habillage{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <p class="lead">Liste des conseils</p>
            {% for key, conseil in listConseil %}
               <p>{{conseil}}</p>
            {% endfor %}
         {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('create-bilan-conseil') }}
{% endblock %}