.my-center{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.min-w-50{
min-width: 50%;
}
.jumbotron{
padding: 1rem 1rem !important;
margin-bottom: 1rem !important;
}
.padding-min{
padding: 2rem 1rem;
margin-bottom: 1rem;
margin-top: 1rem;
}
.custom-control-label {
position: sticky;
}
thead{
    text-align: center !important;
}
.align-center{
    text-align: center;
}
.flaticon-sm {
    height: 1.5rem;
}
.width-all{
    width: 100%;
}
.nav-link {
    padding: 0.5rem 0.5rem !important;
}
.form-control-xs {
    height: calc(1.8em + .375rem + 2px) !important;
    padding: .125rem .25rem !important;
    font-size: .75rem !important;
    line-height: 1.5;
    border-radius: .2rem;
}
.item-box  {
    border: black 1px solid;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;

}
.subtotal-box {
    border: #f16174 1px solid;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

$primary:#f16174;
$secondary:#868e96;
$success:#28a745;
$danger:#dc3545;
$info:#17a2b8;
$warning:#ffc107;
$light:#f8f9fa;
$dark:#343a40;

// td:nth-child(1) { background-color: grey; } 

@import "~bootstrap/scss/bootstrap";