<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {# {% stylesheets 
                  'bundles/app2/css/bootstrap.css'
                  'bundles/app2/css/bilan.css'
                    filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %} #}
            {% block stylesheets %}
                {# 'app' must match the first argument to addEntry() in webpack.config.js #}
                {{ encore_entry_link_tags('app') }}

                <!-- Renders a link tag (if your module requires any CSS)
                    <link rel="stylesheet" href="/build/app.css"> -->
            {% endblock %}

            <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>
            <title>{% block title %}{% endblock %} - bilan </title>
        {% endblock %}
    </head>
    <body>
        {% include '@App2Bundle/Resources/views/Layout/components/navBar.html.twig' %}
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
        {# <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> #}
            {% block footer %}
            {% endblock %}
        </div>
        {# {% block javascripts %}
            {% javascripts 
            '@App2Bundle/Resources/public/js/jquery-3.1.1.min.js'
            '@App2Bundle/Resources/public/js/bootstrap.js'
            '@App2Bundle/Resources/public/js/bilan.js'

            %}
            
        {% endblock %} #}
        {% block javascripts %}
                {{ encore_entry_script_tags('app') }}

                <!-- Renders app.js & a webpack runtime.js file
                    <script src="/build/runtime.js"></script>
                    <script src="/build/app.js"></script> -->
        {% endblock %}
             
    </body>
</html>