{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Test{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
        {{ form(form) }}

{% endblock %}
    {% endembed %}
{% endblock %}