.my-center{
        margin: 0;
        padding: 0;
        border-radius: 10px;
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 7.5vw;
        padding-right: 7.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.min-w-50{
    min-width: 50%;
}
.jumbotron{
    margin-bottom: 0rem;
}
.padding-min{
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.custom-control-label {
    position: sticky;
}