
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
        <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <div>
                {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="username">Nom d'utilisateur</label>
                                <input type="text" id="username" name="_username"  value="{{ last_username }}" required="required" autocomplete="username" class="form-control" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control">
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on">
                                Se rappeler de moi?  
                                </label>
                            </div>
                        </fieldset>
                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Login" />
                </form>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
