{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Résultat {{bilanSkeleton.nom}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
 {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <h3>{{bilanSkeleton.nom}}</h3>
             <div style = "margin-bottom: 0.5rem;">
                    <a href="{{ path('app2_get_one_patient', {'idPatient': patient.id}) }}">
                        <button type="button" class="btn btn-primary">
                        Retour au dossier patient
                        </button>
                    </a>
            </div>
             <table class="table table-secondary">
                <thead>
                    <tr>
                    <th scope="col">Nom de l'item</th>
                     {% if bilanSkeleton.withCote %}
                        <th scope="col">Côté</th>
                    {% endif %}
                     {% for bilan in bilansToCompare %}
                         <th scope="col">{{bilan.nom}}</th>
                     {% endfor %}
                     <th scope="col">evolution</th>
                    </tr>
                </thead>
                <tbody>
                    {% set nbColumn = 2 + bilansToCompare|length %}
                    {% if bilanSkeleton.withCote %}
                        {% set nbColumn = nbColumn + 1 %}
                    {% endif %}
                    {% for item in itemAndSubTotal %}
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\ItemTest') %}
                            {% if bilanSkeleton.withCote %}
                                <tr>
                                <td rowspan=2 >{{item.nom}}</td> 
                                <td>G</td> 
                                {% for bilan in bilansToCompare %}
                                    <td class="js-item js-to-compare" data-id-bilan={{bilan.id}} data-id-item={{item.id}} data-cote="0" data-ordre={{item.ordre}} data-max={{item.max}}></td>                          
                                {% endfor %}
                                 <td class="js-evolution"></td>
                                </tr>
                                <tr>
                                <td>D</td> 
                                {% for bilan in bilansToCompare %}
                                    <td class="js-item js-to-compare" data-id-bilan={{bilan.id}} data-id-item={{item.id}} data-cote="1" data-ordre={{item.ordre}} data-max={{item.max}}></td>                          
                                {% endfor %}
                                 <td class="js-evolution"></td>
                                </tr>
                                {% else %}
                                <tr>
                                <td >{{item.nom}}</td> 
                                {% for bilan in bilansToCompare %}
                                    <td class="js-item js-to-compare" data-id-bilan={{bilan.id}} data-id-item={{item.id}}  data-cote="null" data-ordre={{item.ordre}} data-max={{item.max}}></td>                          
                                {% endfor %}
                                 <td class="js-evolution"></td>
                                </tr>    
                            {% endif %}
                        {% endif %}
                        
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubTotal') %}
                            {% if bilanSkeleton.withCote %}
                                <tr>
                                <td rowspan=2 >{{item.nom}}</td> 
                                <td>G</td> 
                                {% for bilan in bilansToCompare %}
                                    <td class="js-subtotal js-to-compare" data-id-bilan={{bilan.id}} data-is-full-total="{{item.isFullTotal}}" data-ordre={{item.ordre}} data-cote="0" data-max={{item.max}}></td>                          
                                {% endfor %}
                                <td class="js-evolution"></td>
                                </tr>
                                <tr>
                                <td>D</td> 
                                {% for bilan in bilansToCompare %}
                                    <td class="js-subtotal js-to-compare" data-id-bilan={{bilan.id}} data-is-full-total="{{item.isFullTotal}}" data-ordre={{item.ordre}} data-cote="1" data-max={{item.max}}></td>                          
                                {% endfor %}
                                <td class="js-evolution"></td>
                                </tr>
                                {% else %}
                                <tr>
                                <td >{{item.nom}}</td> 
                                {% for bilan in bilansToCompare %}
                                    <td class="js-subtotal js-to-compare" data-id-bilan={{bilan.id}} data-is-full-total="{{item.isFullTotal}}" data-ordre={{item.ordre}} data-cote="null" data-max={{item.max}}></td>                          
                                {% endfor %}
                                <td class="js-evolution"></td>
                                </tr>    
                            {% endif %}
                        {% endif %}
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubPart') %}
                            <tr>
                            <th colspan={{nbColumn}} >{{item.nom}}</th>
                            </tr>    
                        {% endif %}
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubText') %}
                            <tr>
                            <td colspan={{nbColumn}} >{{item.text}}</td>
                            </tr>    
                        {% endif %}
                    {% endfor %}
                <tbody>
            </table>
            <div id="result" data-with-cote="{{bilanSkeleton.withCote}}">
                {% for bilan in bilansToCompare %}
                    <div id="bilan-result" data-id-bilan="{{bilan.id}}">
                    {% for resultat in bilan.resultats %}
                        <div class="js-resultat" data-id-bilan={{bilan.id}} data-id-item={{resultat.itemTest.id}} data-value={{resultat.value}} data-ordre={{resultat.itemTest.ordre}} data-id-item={{resultat.itemTest.id}} data-cote={{ resultat.cote ? '1' : '0' }}></div>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
            
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('compare-bilan-custom') }}
{% endblock %}
