
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}{{bilanSkeleton.nom}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            {{ form_start(form) }}
                <p class="lead">{{bilanSkeleton.nom}}</p>
                <div class="container-form"
                    data-prototype="{{ form_widget(form.resultats.vars.prototype)|e('html_attr') }}" 
                    data-with-cote="{{bilanSkeleton.withCote}}">
                <table class="table table-sm table-secondary">
                <thead class="table-primary" >
                    <tr>
                    <th scope="col">Item</th>
                    {% if bilanSkeleton.withCote == true %}
                    <th scope="col">Gauche</th>
                     <th scope="col">Droite</th>
                    {% else %}
                    <th scope="col">Valeur</th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for item in itemAndSubTotal %}
                {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\ItemTest') %}
                    <tr id='js-item-{{item.ordre}}' class="js-item" 
                        data-nom="{{item.nom}}" 
                        data-type-value="{{item.typeValue}}" 
                        data-min="{{item.min}}"
                        data-max="{{item.max}}"
                        data-ordre="{{item.ordre}}"
                        data-id="{{item.id}}" >
                        <td>{{item.nom}}</td>
                        {% if bilanSkeleton.withCote == true %}
                        <td scope="col" id='js-item-{{item.ordre}}-gauche' class="js-item-gauche" data-cote="0"></td>
                        <td scope="col" id='js-item-{{item.ordre}}-droite' class="js-item-droite" data-cote="1"></td>
                        {% else %}
                        <td scope="col" id='js-item-{{item.ordre}}-value'></td>
                        {% endif %}
                    </tr>
                {% elseif item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubPart') %}
                 <tr class="table-primary">
                    <td
                    {% if bilanSkeleton.withCote == false %} 
                    colspan="2"
                    {% else %}
                    colspan="3"
                    {% endif %}
                    ><strong>{{item.nom}}</strong></td>
                 </tr>
                {% elseif item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubTotal') %}
                 <tr class="table-secondary">
                    <td>{{item.nom}}</td>
                    {% if bilanSkeleton.withCote == true %}
                        <td scope="col" id='js-subtotal-{{item.ordre}}-gauche' class="js-subtotal" data-cote="gauche" data-ordre="{{item.ordre}}" data-is-full-total="{{item.isFullTotal}}"></td>
                        <td scope="col" id='js-subtotal-{{item.ordre}}-droite' class="js-subtotal" data-cote="droite" data-ordre="{{item.ordre}}" data-is-full-total="{{item.isFullTotal}}"></td>
                    {% else %}
                        <td scope="col" id='js-subtotal-{{item.ordre}}' class="js-subtotal" data-ordre="{{item.ordre}}" data-is-full-total="{{item.isFullTotal}}"></td>
                    {% endif %}
                 </tr>
                 {% elseif item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubText') %}
                 <tr class="table-secondary">
                    <td
                    {% if bilanSkeleton.withCote == false %} 
                    colspan="2"
                    {% else %}
                    colspan="3"
                    {% endif %}
                    >{{item.text}}</td>
                 </tr>
                {% endif  %}
                {% endfor %}
                </tbody>
                </table>
                </div>
            {% do form.resultats.setRendered %}
            {{ form_end(form) }}
            {% if isUpdate %}
                <div id="old-result" data-with-cote="{{bilanSkeleton.withCote}}">
                    {% for resultat in bilan.resultats %}
                    <div class="js-resultat" data-value={{resultat.value}} data-ordre={{resultat.itemTest.ordre}} data-id-item={{resultat.itemTest.id}} data-cote={{ resultat.cote ? '1' : '0' }}></div>
                    {% endfor %}
                </div>
            {% endif %}
         {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('create-bilan-custom') }}
{% endblock %}