{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Résultat {{bilanSkeleton.nom}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
 {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <h3>{{bilanSkeleton.nom}}</h3>
            <div style = "margin-bottom: 0.5rem;">
            {% if bilan.patient is not null %}
                <a href="{{ path('app2_get_one_patient', {'idPatient': bilan.patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au dossier patient
                    </button>
                </a>
            {% endif %}
           
            <a href="{{ path('app2_bilan_custom_update', {'idBilan' : bilan.id}) }}">
                    <button type="button" class="btn btn-warning">
                    Modifier
                    </button>
                </a>
            </div>

             <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Nom de l'item</th>
                     {% if bilanSkeleton.withCote %}
                        <th scope="col">Gauche</th>
                        <th scope="col">Droite</th>
                     {% else %}
                        <th scope="col">Résultat</th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in itemAndSubTotal %}
                    <tr class="table-active">
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\ItemTest') %}
                            <td >{{item.nom}}</td>
                            {% if bilanSkeleton.withCote %}
                                {% if item.typeValue == "integer" and item.min == 0 %}
                                    <td class="js-item" data-id-item={{item.id}} data-cote="0" data-ordre={{item.ordre}} data-max={{item.max}}></td>
                                    <td class="js-item" data-id-item={{item.id}} data-cote="1" data-ordre={{item.ordre}} data-max={{item.max}}></td>
                                {% else %}
                                    <td ></td>
                                    <td ></td>
                                {% endif %}
                            {% else %}
                                    {% if item.typeValue == "integer" and item.min == 0 %}
                                    <td class="js-item" data-id-item={{item.id}} data-ordre={{item.ordre}} data-cote="null" data-max={{item.max}}></td>
                                    {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubTotal') %}
                            <th >{{item.nom}}</th>
                            {% if bilanSkeleton.withCote %}
                                <td class="js-subtotal" data-is-full-total="{{item.isFullTotal}}" data-ordre={{item.ordre}} data-cote="0" data-max={{item.max}}></td>
                                <td class="js-subtotal" data-is-full-total="{{item.isFullTotal}}" data-ordre={{item.ordre}} data-cote="1" data-max={{item.max}}></td>
                             {% else %}
                                <td class="js-subtotal" data-is-full-total="{{item.isFullTotal}}" data-ordre={{item.ordre}} data-max={{item.max}}></td>
                            {% endif %}
                        {% endif %}
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubPart') %}
                        <th  
                        {% if bilanSkeleton.withCote == false %} 
                            colspan="2"
                            {% else %}
                            colspan="3"
                            {% endif %}>{{item.nom}}</th>
                        {% endif %}
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubText') %}
                        <td 
                         {% if bilanSkeleton.withCote == false %} 
                            colspan="2"
                            {% else %}
                            colspan="3"
                            {% endif %}>{{item.text}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                <tbody>
            </table>
            <div id="result" data-with-cote="{{bilanSkeleton.withCote}}">
                {% for resultat in bilan.resultats %}
                <div class="js-resultat" data-id={{resultat.id}} data-value={{resultat.value}} data-ordre={{resultat.itemTest.ordre}} data-id-item={{resultat.itemTest.id}} data-cote={{ resultat.cote ? '1' : '0' }}></div>
                {% endfor %}
            </div>
            
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('get-one-bilan-custom') }}
{% endblock %}
