

{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <h3 class="align-center">Comparaison de deux bilans articulaires</h3>
            <table class="table table-secondary table-sm">
                <thead>
                    <tr>
                    <th scope="col">Articulation</th>
                    <th scope="col">Rotation</th>
                    <th scope="col">Côté</th>
                    <th scope="col">Angle Max</th>
                    {% for key, bilan in bilans %}
                    <th scope="col">{{bilan.nom}}</th>
                    {% endfor %}
                    <th scope="col">Evolution</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, articulation in affichage %}
                        {% for key2, articulaire in articulation %}
                            <tr >
                                <td rowspan=2>{{key}}</td>
                                <td rowspan=2>{{key2}}</td>
                                <td>G</td>
                                <td>{{articulaire['angle_max']}}</td>
                                {% for value in articulaire[0] %}
                                    <td class="align-center">{{value}}</td>
                                {% endfor %}
                                {% if articulaire[0]|last == articulaire[0]|first  %}
                                        <td class="align-center" ></td>
                                {% elseif articulaire[0]|last == articulaire['angle_max']%}
                                         <td class="align-center" style="background-color: green;" >+</td>
                                {% elseif (articulaire['angle_max'] > articulaire[0]|last and  articulaire[0]|last > articulaire[0]|first) or 
                               (articulaire['angle_max'] < articulaire[0]|last and  articulaire[0]|last< articulaire[0]|first )%}
                                        <td class="align-center" style="background-color: green;">+</td>  
                                {% else %}
                                        <td class="align-center" style="background-color: red;">-</td>
                                {% endif %}                        
                            </tr>
                                <td>D</td>
                                <td>{{articulaire['angle_max']}}</td>
                                {% for value in articulaire[1] %}
                                    <td class="align-center">{{value}}</td>
                                {% endfor %}
                                {% if articulaire[1]|last == articulaire[1]|first  %}
                                        <td class="align-center" ></td>
                                {% elseif articulaire[1]|last == articulaire['angle_max']%}
                                         <td class="align-center" style="background-color: green;" >+</td>
                                {% elseif (articulaire['angle_max'] > articulaire[1]|last and  articulaire[1]|last > articulaire[1]|first) or 
                               (articulaire['angle_max'] < articulaire[1]|last and  articulaire[1]|last< articulaire[1]|first )%}
                                        <td class="align-center" style="background-color: green;">+</td>  
                                {% else %}
                                        <td class="align-center" style="background-color: red;"></td>
                                {% endif %}            
                            </tr>
                        {% endfor %}  
                    {% endfor %}  
                </tbody>
            </table>
            <a href="{{ path('app2_get_one_patient', {'idPatient': patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au dossier patient
                    </button>
                </a>
        {% endblock %}
    {% endembed %}
{% endblock %}
