
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Comparer deux bilans{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <p class="lead">Choississez un bilan geste test pour construire votre bilan articulaire</p>
                {{ form(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
