
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Bilan Articulaire{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <h3 class="align-center">
             {% if modify is defined %}Modification Bilan Articulaire 
             {% else %}Création Bilan Articulaire 
             {% endif %}</h3>
            {% if global is defined and global is not null %}
                 <a href="{{ path('app2_bilan_articulaire_create_before', {'idPatient' : patient.id, 'idBilan' : global.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Générer à partir d'un autre bilan
                    </button>
                </a>
             {% elseif modify is not defined %}
              <a href="{{ path('app2_bilan_articulaire_create_before', {'idPatient': patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Générer à partir d'un autre bilan
                    </button>
                </a>
            {% endif %}
            {{ form_start(form) }}
            <table class="table table-sm table-secondary">
                <thead class="" >
                    <tr>
                    <th scope="col">Articulation</th>
                    <th scope="col">Mouvement</th>
                    <th scope="col">Côté</th>
                    <th scope="col">Angle Max</th>
                    {% if modify is not defined %}
                    <th scope="col">Info</th>
                    {% endif %}
                    <th scope="col">Angle</th>
                    <th scope="col">Remarques</th>  
                    <th scope="col">Cause 1</th>    
                    <th scope="col">Cause 2</th>        
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {% for key, articulation in articulairesReFormat %}
                        {% for articulaire in articulation %}
                            <tr >
                                <td rowspan=2>{{key}}</td>
                                <td rowspan=2>{{articulaire.nom}}</td>
                                <td>G</td>
                                <td>{{articulaire.angle_max}}</td>
                                 {% if modify is not defined %}
                                <td>
                                    {% if articulaire['condition_g'] is defined and articulaire['condition_g'] is not null %}
                                        <button type="button" data-toggle="popover" title="Informations venant d'un autre bilan" 
                                            {% if articulaire['condition_g']['operateur'] == "=" and articulaire['condition_g']['value'] == articulaire.angle_max%}
                                                class="btn btn-sm btn-success" data-content="Cette amplitude devrait être à la valeur {{articulaire['condition_g']['value']}}"
                                            {% elseif articulaire['condition_g']['operateur'] == "=" %}
                                             class="btn btn-sm btn-warning" data-content="Cette amplitude devrait être à la valeur {{articulaire['condition_g']['value']}}"
                                            {% elseif articulaire['condition_g']['operateur'] == ">" and articulaire.angle_max > articulaire['condition_g']['value'] %}
                                              class="btn btn-sm btn-info"  data-content="Cette amplitude devrait être supérieure à {{articulaire['condition_g']['value']}}"
                                            {% elseif articulaire['condition_g']['operateur'] == ">"  %}
                                              class="btn btn-sm btn-warning"  data-content="Cette amplitude devrait être supérieure à {{articulaire['condition_g']['value']}}"
                                            {% elseif articulaire['condition_g']['operateur'] == "<"  and articulaire.angle_max > articulaire['condition_g']['value'] %}
                                               class="btn btn-sm btn-warning" data-content="Cette amplitude devrait être inférieure à {{articulaire['condition_g']['value']}}"
                                             {% elseif articulaire['condition_g']['operateur'] == "<"  %}
                                                class="btn btn-sm btn-info" data-content="Cette amplitude devrait être inférieure à {{articulaire['condition_g']['value']}}"
                                            {% endif %}
                                        >info</button>
                                    {% endif %}
                                </td>
                                {% endif %}
                                <td>
                                <div class="form-group">
                                    <input type="number" class="form-control form-control-xs" id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_value" 
                                    name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][value]" 
                                    {# On met toujurs la valeur commme input de base #}
                                    {% if articulaire['condition_g'] is defined and articulaire['condition_g'] is not null %}
                                        value={{articulaire['condition_g']['value']}}      
                                    {% elseif articulaire['value_g'] is defined  %} 
                                        value={{articulaire['value_g']}} 
                                    {% else %}
                                        value={{articulaire.angle_max}} 
                                    {% endif %}
                                     >
                                </div>
                                <input id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_cote" 
                                name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][cote]" type="hidden" value="0">
                                <input id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_itemTest" 
                                name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][itemTest]" type="hidden" value="{{articulaire.id}}">
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-xs" placeholder="Remarques..." id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_remarque" 
                                        name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][remarque]">
                                    </div>
                                </td>
                                <td>
                                    <div id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_0">
                                    <div class="form-group">
                                        {# <label for="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_0">Example select</label> #}
                                        <select class="form-control form-control-xs" id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_0" name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][causes][0]">
                                         <option value="">Aucune</option>
                                            {% for cause in causes %}
                                             {% if articulaire['cause_g'] is defined and articulaire['cause_g'][0] is defined and cause.id == articulaire['cause_g'][0]%}
                                                 <option value="{{cause.id}}" selected="selected">{{cause.nom}}</option>  
                                                 {% else %}
                                                  <option value="{{cause.id}}">{{cause.nom}}</option> 
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_1">
                                        <div class="form-group">
                                            {# <label for="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_0">Example select</label> #}
                                            <select class="form-control form-control-xs" id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_1" name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][causes][1]">
                                            <option value="">Aucune</option>
                                                {% for cause in causes %}
                                                {% if articulaire['cause_g'] is defined and articulaire['cause_g'][1] is defined and cause.id == articulaire['cause_g'][1]%}
                                                 <option value="{{cause.id}}" selected="selected">{{cause.nom}}</option>  
                                                 {% else %}
                                                  <option value="{{cause.id}}">{{cause.nom}}</option> 
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% set i = i + 1 %}  
                            <tr >
                                <td>D</td>
                                <td>{{articulaire.angle_max}}</td>
                                 {% if modify is not defined %}
                                <td>
                                    {% if articulaire['condition_d'] is defined and articulaire['condition_d'] is not null %}
                                        <button type="button" data-toggle="popover" title="Informations venant d'un autre bilan" 
                                             {% if articulaire['condition_d']['operateur'] == "=" and articulaire['condition_d']['value'] == articulaire.angle_max%}
                                                class="btn btn-sm btn-success" data-content="Cette amplitude devrait être à la valeur {{articulaire['condition_d']['value']}}"
                                            {% elseif articulaire['condition_d']['operateur'] == "=" %}
                                             class="btn btn-sm btn-warning" data-content="Cette amplitude devrait être à la valeur {{articulaire['condition_d']['value']}}"
                                            {% elseif articulaire['condition_d']['operateur'] == ">" and articulaire.angle_max > articulaire['condition_d']['value'] %}
                                              class="btn btn-sm btn-info"  data-content="Cette amplitude devrait être supérieure à {{articulaire['condition_d']['value']}}"
                                            {% elseif articulaire['condition_d']['operateur'] == ">"  %}
                                              class="btn btn-sm btn-warning"  data-content="Cette amplitude devrait être supérieure à {{articulaire['condition_d']['value']}}"
                                            {% elseif articulaire['condition_d']['operateur'] == "<"  and articulaire.angle_max > articulaire['condition_d']['value'] %}
                                               class="btn btn-sm btn-warning" data-content="Cette amplitude devrait être inférieure à {{articulaire['condition_d']['value']}}"
                                             {% elseif articulaire['condition_d']['operateur'] == "<"  %}
                                                class="btn btn-sm btn-info" data-content="Cette amplitude devrait être inférieure à {{articulaire['condition_d']['value']}}"
                                            {% endif %}
                                        >info</button>
                                    {% endif %}
                                </td>
                                {% endif %}
                                <td>
                                <div class="form-group">
                                    <input type="number" class="form-control form-control-xs" id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_value" 
                                    name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][value]" 
                                    {# On met toujurs la valeur commme input de base #}
                                    {% if articulaire['condition_d'] is defined and articulaire['condition_d'] is not null %}
                                        value={{articulaire['condition_d']['value']}}      
                                    {% elseif articulaire['value_d'] is defined  %} 
                                        value={{articulaire['value_d']}} 
                                    {% else %}
                                        value={{articulaire.angle_max}} 
                                    {% endif %}
                                     >
                                </div>
                                <input id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_cote" 
                                name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][cote]" type="hidden" value="1">
                                <input id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_itemTest" 
                                name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][itemTest]" type="hidden" value="{{articulaire.id}}">
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-xs" placeholder="Remarques..." id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_remarque" 
                                        name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][remarque]">
                                    </div>
                                </td>
                                <td>
                                    <div id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_0">
                                    <div class="form-group">
                                        {# <label for="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_0">Example select</label> #}
                                        <select class="form-control form-control-xs" id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_0" name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][causes][0]">
                                         <option value="">Aucune</option>
                                            {% for cause in causes %}
                                                {% if articulaire['cause_d'] is defined and articulaire['cause_d'][0] is defined and cause.id == articulaire['cause_d'][0]%}
                                                 <option value="{{cause.id}}" selected="selected">{{cause.nom}}</option>  
                                                 {% else %}
                                                  <option value="{{cause.id}}">{{cause.nom}}</option> 
                                                {% endif %}
                                                
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_1">
                                        <div class="form-group">
                                            {# <label for="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_0">Example select</label> #}
                                            <select class="form-control form-control-xs" id="app2bundle_bilans_bilanarticulaire_resultats_{{i}}_causes_1" name="app2bundle_bilans_bilanarticulaire[resultats][{{i}}][causes][1]">
                                            <option value="">Aucune</option>
                                                {% for cause in causes %}
                                                 {% if articulaire['cause_d'] is defined and articulaire['cause_d'][1] is defined and cause.id == articulaire['cause_d'][1]%}
                                                 <option value="{{cause.id}}" selected="selected">{{cause.nom}}</option>  
                                                 {% else %}
                                                  <option value="{{cause.id}}">{{cause.nom}}</option> 
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% set i = i + 1 %}               
                        {% endfor %}
                    {% endfor %}
                <tbody>
            </table>      
            {% do form.resultats.setRendered %}

         
              
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
        {{ parent() }}
 {% set i = 0 %} 
        <script type="text/javascript">  
         {% for key, articulation in articulairesReFormat %}
        {% for articulaire in articulation %}
            {% if articulaire['remarque_g']  is defined and articulaire['remarque_g'] is not null  %}
                document.getElementById("app2bundle_bilans_bilanarticulaire_resultats_{{i}}_remarque").value = "{{articulaire['remarque_g']}}" 
            {% endif %}
            {% set i = i +1 %}
            {% if articulaire['remarque_d']  is defined and articulaire['remarque_d'] is not null  %}
                document.getElementById("app2bundle_bilans_bilanarticulaire_resultats_{{i}}_remarque").value = "{{articulaire['remarque_d']}}" 
            {% endif %}
            {% set i = i +1 %}
        {% endfor %}
        {% endfor %}

        </script>
{% endblock %}
   
