
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Créer un patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <p>Bilan Articulaire du {{bilanArticulaire.dateAjout|date("d/m/Y") }}</p>
           {% for resultat in bilanArticulaire.resultats %}
           {% if resultat.value != resultat.itemTest.angleMax %}
                <p>{{resultat.itemTest.articulation}} {{resultat.itemTest.nom}} {% if resultat.cote == 0 %}Gauche{% else %}Droite{% endif %}: {{resultat.value}} || {% if resultat.remarque is not null  %}rmq: {{resultat.remarque}} || {%endif%}causes:
                {% for cause in resultat.causes %}
                            {{cause.nom}},
                            {% endfor %}<p>
            {% endif %}
        {% endfor %}  
        {% endblock %}
    {% endembed %}
{% endblock %}
