
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Créer un patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <p class="lead">Bilan Articulaire du {{bilanArticulaire.dateAjout|date("d/m/Y") }}</p>
                {% include '@App2Bundle/Resources/views/Layout/components/bilanArticulaireResultat.html.twig' 
                with {
                    'bilanArticulaire': bilanArticulaire
                } %}
            {% if bilanArticulaire.bilan is not null %}
                <a href="{{ path('app2_bilan_get_one', {'idBilan': bilanArticulaire.bilan.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au bilan global
                    </button>
                </a>
            {% elseif bilanArticulaire.patient is not null %}
                <a href="{{ path('app2_get_one_patient', {'idPatient': bilanArticulaire.patient.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Retour au dossier patient
                    </button>
                </a>
            {% endif %}
            <a href="{{ path('app2_bilan_articulaire_extract', {'idBilan': bilanArticulaire.id}) }}">
                    <button type="button" class="btn btn-primary">
                    Exporter au format texte
                    </button>
                </a>
        {% endblock %}
    {% endembed %}
{% endblock %}
