{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Elaboration d'un nouveau bilan{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
 {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
        <p class="lead">Liste des bilans de mon organisation</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Nom du bilan</th>
                    <th scope="col">Actif</th>
                    {# <th scope="col">Modifier</th> #}
                    <th scope="col">Supprimer</th>
                    <th scope="col">Voir le bilan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bilan in bilans %}
                    <tr class="table-active">
                    <th scope="row">{{bilan.nom}}</th>
                    <td><a href="{{ path('app2_bilan_custom_change_actif', {'idBilan': bilan.id}) }}">
                            <button type="button" class="btn btn-secondary">
                                {% if bilan.isActive %}Actif{% else %}Inactif{% endif %}
                            </button>
                        </a>
                    </td>
                    {# <td><button type="button" class="btn btn-secondary">Modifier</button></td>app2_bilan_custom_skeleton_delete #}
                    <td><a href="{{ path('app2_bilan_custom_skeleton_delete', {'idBilanSkeleton': bilan.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a></td>
                    <td><a href="{{ path('app2_bilan_custom_one', {'idBilan': bilan.id}) }}"><button type="button" class="btn btn-info">Voir</button></a></td>
                     </tr>
                    {% endfor %}
                <tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}

