{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Elaboration d'un nouveau bilan{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
 {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
                {{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.type_values) }}
                    {{ form_row(form.format_values) }}
                    {{ form_row(form.min) }}
                    {{ form_row(form.max) }}
                    {{ form_row(form.withCote) }}

                    {# Début item test #}
                    {# {{ form_row(form.itemTests.vars.prototype) }} #}
                    <h3>Eléments du bilan</h3>
                    <ul class="item" 
                        data-prototype="{{ form_widget(form.itemTests.vars.prototype)|e('html_attr') }}" 
                        data-prototype-subtotal="{{ form_widget(form.subtotals.vars.prototype)|e('html_attr') }}"
                        data-prototype-subpart="{{ form_widget(form.subparts.vars.prototype)|e('html_attr') }}"
                        data-prototype-subtext="{{ form_widget(form.subtexts.vars.prototype)|e('html_attr') }}">
                        {# {% for item in form.subtotals %}
                            <li>{{ form_row(item.nom) }}</li>
                        {% endfor %} #}
                    </ul>
                    {# Fin item test #}
                {{ form_end(form) }}

                
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('new-bilan-custom') }}
{% endblock %}

