{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Elaboration d'un nouveau bilan{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
 {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <h3>{{bilan.nom}}</h3>
             <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Nom de l'item</th>
                     {% if bilan.withCote %}
                        <th scope="col">Gauche</th>
                        <th scope="col">Droite</th>
                     {% else %}
                        <th scope="col">Résultat</th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in itemAndSubTotal %}
                    <tr class="table-active">
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\ItemTest') %}
                            <td >{{item.nom}}</td>
                            {% if bilan.withCote %}
                                {% if item.typeValue == "integer" and item.min == 0 %}
                                    <td >/{{item.max}}</td>
                                    <td >/{{item.max}}</td>
                                {% else %}
                                    <td ></td>
                                    <td ></td>
                                {% endif %}
                            {% else %}
                                <td>
                                    {% if item.typeValue == "integer" and item.min == 0 %}
                                    /{{item.max}}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endif %}
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubTotal') %}
                            <th >{{item.nom}}</th>
                            <td>
                                /{{item.max}}
                            </td>
                            {% if bilan.withCote %}
                            <td>
                                /{{item.max}}
                            </td>
                            {% endif %}
                        {% endif %}
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubPart') %}
                        <th  
                        {% if bilan.withCote == false %} 
                            colspan="2"
                            {% else %}
                            colspan="3"
                            {% endif %}>{{item.nom}}</th>
                        {% endif %}
                        {% if item is instanceof('App2Bundle\\Entity\\BilansCustom\\SubText') %}
                        <td 
                         {% if bilan.withCote == false %} 
                            colspan="2"
                            {% else %}
                            colspan="3"
                            {% endif %}>{{item.text}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                <tbody>
            </table>
            
        {% endblock %}
    {% endembed %}
{% endblock %}

