
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Nouveau Bilan Habillage{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <h3 class="align-center">Nouveau Bilan Habillage</h3>
            <a href="/bilanHabillage/web/uploads/pdf/bilanHabillage.pdf" download>Télecharger le bilan au format pdf</a>
            {{ form_start(form) }}
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                    <th scope="col">Descriptif</th>
                    <th scope="col">Photos</th>
                    <th scope="col">Gauche</th>
                    <th scope="col">Remarques</th>
                    <th scope="col">Droite</th>
                    <th scope="col">Remarques</th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {% for test in testsHabillage %}
        
                    {% if not ((test.nom == "item_4_A" or test.nom == "item_4_B") and patient.sexe == "M") %}
                    {% if not ((test.nom == "item_4Bis_A" or test.nom == "item_4Bis_B") and patient.sexe == "F") %}

                    {% set item = test.nom|last %}
                   {% if item == "A" %}
                    <tr class="table-light">
                        <th colspan="5">
                            {{ test.nom|replace({'_': ' ', 'A': "", 'Bis': " Bis"}) }}
                        </th>
                    {% endif %}

                    <tr class="table-secondary">
                    <th>
                    {{test.descriptif}}
                        </th>
                        <td> 
                            {% if test.image is defined %}
                                {% if test.image is not null %}
                                    <button type="button" data-toggle="popover" title="photo de la position" 
                                        class="btn btn-sm btn-info" data-img='{{ vich_uploader_asset(test, 'imageFile') }}'
                                >photo</button>
                                {% endif %}
                            {% endif %}
                            
                        </td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="app2bundle_bilans_bilanhabillage_resultats_{{i}}_value" name="app2bundle_bilans_bilanhabillage[resultats][{{i}}][value]"
                                                     value="1" 
                                                     {% if test['value_g'] is defined and test['value_g'] == 1 %}
                                                    checked 
                                                    {% elseif test['value_g'] is not defined %}
                                                    checked 
                                                    {% endif %}>
                            <label class="custom-control-label" for="app2bundle_bilans_bilanhabillage_resultats_{{i}}_value"></label>
                          </div>
                          <input id="app2bundle_bilans_bilanhabillage_resultats_{{i}}_cote" name="app2bundle_bilans_bilanhabillage[resultats][{{i}}][cote]" type="hidden" value="0">
                          <input id="app2bundle_bilans_bilanhabillage_resultats_{{i}}_itemTest" name="app2bundle_bilans_bilanhabillage[resultats][{{i}}][itemTest]" type="hidden" value="{{test.id}}">

                        </td>
                        <td>
                            <div class="form-group">
                                {# <label class="col-form-label" for="inputDefault">Default input</label> #}
                                <input type="text" class="form-control form-control-xs" placeholder="Remarques..." id="app2bundle_bilans_bilanhabillage_resultats_{{i}}_remarque" name="app2bundle_bilans_bilanhabillage[resultats][{{i}}][remarque]">
                            </div>
                        </td>
                    {% set i = i +1 %}
                        <td>
                            <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="app2bundle_bilans_bilanhabillage_resultats_{{i}}_value" name="app2bundle_bilans_bilanhabillage[resultats][{{i}}][value]"
                                                     value="1"   
                                                     {% if test['value_d'] is defined and test['value_d'] == 1 %}
                                                    checked 
                                                    {% elseif test['value_d'] is not defined %}
                                                    checked 
                                                    {% endif %}>
                            <label class="custom-control-label" for="app2bundle_bilans_bilanhabillage_resultats_{{i}}_value"></label>
                          </div>
                          <input id="app2bundle_bilans_bilanhabillage_resultats_{{i}}_cote" name="app2bundle_bilans_bilanhabillage[resultats][{{i}}][cote]" type="hidden" value="1">
                           <input id="app2bundle_bilans_bilanhabillage_resultats_{{i}}_itemTest" name="app2bundle_bilans_bilanhabillage[resultats][{{i}}][itemTest]" type="hidden" value="{{test.id}}">

                        </td>
                        <td>
                            <div class="form-group">
                                {# <label class="col-form-label" for="inputDefault">Default input</label> #}
                                <input type="text" class="form-control form-control-xs" placeholder="Remarques..." id="app2bundle_bilans_bilanhabillage_resultats_{{i}}_remarque" name="app2bundle_bilans_bilanhabillage[resultats][{{i}}][remarque]">
                            </div>
                        </td>
                     </tr>
                     {% set i = i +1 %}
                     {% endif %}
                     {% endif %}
                    {% endfor %}
                    
                <tbody>
            </table>      
            {% do form.resultats.setRendered %}
           
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
        {{ parent() }}
        {% set i = 0 %} 
        {# On regarde la liste des geste test #}
        <script type="text/javascript">       
        {% for test in testsHabillage %}
            {% if test['remarque_g']  is defined and test['remarque_g'] is not null  %}
                document.getElementById("app2bundle_bilans_bilanhabillage_resultats_{{i}}_remarque").value = "{{test['remarque_g']}}" 
            {% endif %}
            {% set i = i +1 %}
            {% if test['remarque_d']  is defined and test['remarque_d'] is not null  %}
                document.getElementById("app2bundle_bilans_bilanhabillage_resultats_{{i}}_remarque").value = "{{test['remarque_d']}}" 
            {% endif %}
            {% set i = i +1 %}
        {% endfor %}
        </script>
{% endblock %}
   
