
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Créer un patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <p class="lead"><strong>Anonymisation des données</strong>Notez le code patient quelque part il vous permettra de le retrouver dans votre interface. <br/>Ce système a été mis en place pour anonymiser les données. Nous ne collectons pas d'informations pouvant permettre d'identifier vos patients.</p>
            {{ form(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
