
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% embed '@App2Bundle/Resources/views/Layout/components/jumbotron.html.twig' %}
        {% block jumbotron %}
            <p class="lead">{{title}}</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Code Patient</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Date d'ajout</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                    <th scope="col">Voir le dossier</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                    <tr class="table-active">
                    <th scope="row">{{patient.codePatient}}</th>
                    <td>{{patient.sexe}}</td>
                    <td>{{patient.dateAjout|date("d/m/Y") }}</td>
                    <td><button type="button" class="btn btn-secondary">Modifier</button></td>
                    <td><button type="button" class="btn btn-danger">Supprimer</button></td>
                    <td><a href="{{ path('app2_get_one_patient', {'idPatient': patient.id}) }}"><button type="button" class="btn btn-info">Dossier</button></a></td>
                     </tr>
                    {% endfor %}
                    
                <tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
