
{% extends '@App2Bundle/Resources/views/Layout/classic.html.twig' %}
{% block title %}Patient{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
 <div class="container" >
    <div class="row" >
        <div class="col-3 jumbotron">
            <h3>Dossier Patient<h3>
            <hr class="my-4">
            <p class="lead">Code patient: {{patient.codePatient}}</p>
            <p class="lead">Sexe: {{patient.sexe}}</p>
            <hr class="my-4">
            <a href="{{ path('app2_get_my_patients') }}">
                <button type="button" class="btn btn-primary">
                Liste de mes patients
                </button>
            </a>
            <a href="{{ path('app2_prepare_extract', {'idPatient': patient.id}) }}">
                <button type="button" class="btn btn-success">
                Préparer un extract
                </button>
            </a>
        </div>
        <div class="col-9">
            <div class="col-9 jumbotron padding-min">
                <ul class="nav justify-content-center nav-pills nav-fill " id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-amm" aria-selected="true">Tous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-globaux-tab" data-toggle="pill" href="#pills-globaux" role="tab" aria-controls="pills-globaux" aria-selected="false">Globaux</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" id="pills-habillage-tab" data-toggle="pill" href="#pills-habillage" role="tab" aria-controls="pills-habillage" aria-selected="false">Habillage</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" id="pills-geste-test-tab" data-toggle="pill" href="#pills-geste-test" role="tab" aria-controls="pills-geste-test" aria-selected="false">Gestes-Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-articulaire-tab" data-toggle="pill" href="#pills-articulaire" role="tab" aria-controls="pills-articulaire" aria-selected="false">Articulaire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-musculaire-tab" data-toggle="pill" href="#pills-musculaire" role="tab" aria-controls="pills-musculaire" aria-selected="false">Musculaire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-kapandji-tab" data-toggle="pill" href="#pills-Kapandji" role="tab" aria-controls="pills-Kapandji" aria-selected="false">Kapandji</a>
                    </li>
                </ul>
            </div>
            <div class="col-9 jumbotron padding-min">
                <ul class="nav justify-content-center nav-pills nav-fill " id="pills-tab" role="tablist">
                    {% for bilanCustomDisplay in bilansCustomDisplay %}
                        <li class="nav-item">
                            <a class="nav-link" class="pills-custom-tab" data-id-bilan-skeleton={{bilanCustomDisplay.skeleton.id}}  data-toggle="pill" href="#pills-Kapandji" role="tab" aria-controls="pills-custom" aria-selected="false">{{bilanCustomDisplay.skeleton.nom}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-9 jumbotron padding-min jumbotron-globaux jumbotron-bilan">
                    <h3 class="align-center" >Bilans Globaux</h3>
                    
                    {% include '@App2Bundle/Resources/views/Layout/components/tableActionBilan.html.twig' 
                        with {
                            'with_modify':false,
                            'with_name': true,
                            'with_extract': false,
                            'bilans': patient.bilans,
                            'path_modify': 'app2_bilan_get_one',
                            'path_delete': 'app2_bilan_delete',
                            'path_details': 'app2_bilan_get_one',
                            'path_extract': null,
                        } %}

                    <a href="{{ path('app2_bilan_create', {'idPatient': patient.id}) }}">
                        <button type="button" class="btn btn-success">
                        Nouveau Bilan Global
                        </button>
                    </a>
            </div>
            <div class="col-9 jumbotron padding-min jumbotron-habillage jumbotron-bilan">
                    <h3 class="align-center" >Bilans Habillage</h3>
                    
                    {% include '@App2Bundle/Resources/views/Layout/components/tableActionBilan.html.twig' 
                        with {
                            'with_modify':true,
                            'with_name': true,
                            'with_extract': true,
                            'bilans': patient.bilansHabillage,
                            'path_modify': 'app2_bilan_habillage_update',
                            'path_delete': 'app2_bilan_habillage_delete',
                            'path_details': 'app2_bilan_habillage_get_one',
                            'path_extract': 'app2_bilan_habillage_extract'
                        } %} 

                    <a href="{{ path('app2_bilan_habillage_create', {'idPatient': patient.id}) }}">
                        <button type="button" class="btn btn-success">
                        Nouveau Bilan Habillage
                        </button>
                    </a>
            </div>
                <div class="col-9 jumbotron padding-min jumbotron-geste-test jumbotron-bilan">
                    <h3 class="align-center" >Bilans Gestes-Test</h3>

                    {% include '@App2Bundle/Resources/views/Layout/components/tableActionBilan.html.twig' 
                        with {
                            'with_modify':true,
                            'with_name': false,
                            'with_extract': true,
                            'bilans': patient.bilansGesteTest,
                            'path_modify': 'app2_bilan_geste_test_update',
                            'path_delete': 'app2_bilan_geste_test_delete',
                            'path_details': 'app2_bilan_geste_test_get_one',
                            'path_extract': 'app2_bilan_geste_test_extract',
                        } %}

                    <a href="{{ path('app2_bilan_geste_test_create', {'idPatient' : patient.id}) }}"><button type="button" class="btn btn-success">Créer</button></a>
                    <a href="{{ path('app2_bilan_geste_test_compare', {'idPatient': patient.id}) }}"><button type="button" class="btn btn-info"  >Comparer</button></a>

                </div>
                <div class="col-9 jumbotron padding-min jumbotron-articulaire jumbotron-bilan">
                    <h3 class="align-center" >Bilans articulaire</h3>

                    {% include '@App2Bundle/Resources/views/Layout/components/tableActionBilan.html.twig' 
                        with {
                            'with_modify':true,
                            'with_name': false,
                            'with_extract': true,
                            'bilans': patient.bilansArticulaire,
                            'path_modify': 'app2_bilan_articulaire_update',
                            'path_delete': 'app2_bilan_articulaire_delete',
                            'path_details': 'app2_bilan_articulaire_get_one',
                            'path_extract': 'app2_bilan_articulaire_extract',
                        } %}

                    <a href="{{ path('app2_bilan_articulaire_create', {'idPatient' : patient.id}) }}"><button type="button" class="btn btn-success">Créer</button></a>
                    <a href="{{ path('app2_bilan_articulaire_compare', {'idPatient': patient.id}) }}"><button type="button" class="btn btn-info"  >Comparer</button></a>

                </div>
                <div class="col-9 jumbotron padding-min jumbotron-kapandji jumbotron-bilan">
                    <h3 class="align-center" >Bilans Kapandji (test d'opposition du I)</h3>

                    {% include '@App2Bundle/Resources/views/Layout/components/tableActionBilan.html.twig' 
                        with {
                            'with_modify':true,
                            'with_name': false,
                            'with_extract': true,
                            'bilans': patient.bilansKapandji,
                            'path_modify': 'app2_bilan_kapandji_update',
                            'path_delete': 'app2_bilan_kapandji_delete',
                            'path_details': 'app2_bilan_kapandji_get_one',
                            'path_extract': 'app2_bilan_kapandji_extract'
                        } %}

                    <a href="{{ path('app2_bilan_kapandji_create', {'idPatient' : patient.id}) }}"><button type="button" class="btn btn-success">Créer</button></a>
                    <a href="{{ path('app2_bilan_kapandji_compare', {'idPatient': patient.id}) }}"><button type="button" class="btn btn-info"  >Comparer</button></a>

                </div>
                <div class="col-9 jumbotron padding-min jumbotron-musculaire jumbotron-bilan">
                    <h3 class="align-center" >Bilans Musculaire</h3>

                    {% include '@App2Bundle/Resources/views/Layout/components/tableActionBilan.html.twig' 
                        with {
                            'with_modify':true,
                            'with_name': false,
                            'with_extract': true,
                            'bilans': patient.bilansMusculaire,
                            'path_modify': 'app2_bilan_musculaire_update',
                            'path_delete': 'app2_bilan_musculaire_delete',
                            'path_details': 'app2_bilan_musculaire_get_one',
                            'path_extract': 'app2_bilan_musculaire_extract',
                        } %}

                    <a href="{{ path('app2_bilan_musculaire_create', {'idPatient' : patient.id}) }}"><button type="button" class="btn btn-success">Créer</button></a>
                    <a href="{{ path('app2_bilan_musculaire_compare', {'idPatient': patient.id}) }}"><button type="button" class="btn btn-info"  >Comparer</button></a>

                </div>
                {% for bilanCustomDisplay in bilansCustomDisplay %}
                <div class="col-9 jumbotron padding-min jumbotron-bilan" data-id-bilan-skeleton={{bilanCustomDisplay.skeleton.id}}>
                    <h3 class="align-center" >{{bilanCustomDisplay.skeleton.nom}}</h3>

                    {% include '@App2Bundle/Resources/views/Layout/components/tableActionBilan.html.twig' 
                        with {
                            'with_modify':true,
                            'with_name': false,
                            'with_extract': false,
                            'bilans': bilanCustomDisplay.bilansPatient,
                            'path_modify': 'app2_bilan_custom_update',
                            'path_delete': 'app2_bilan_custom_delete',
                            'path_details': 'app2_bilan_custom_get_one',
                            'path_extract': 'app2_bilan_musculaire_extract',
                        } %}

                    <a href="{{ path('app2_bilan_custom_create', {'idPatient' : patient.id, 'idBilanSkeleton' : bilanCustomDisplay.skeleton.id}) }}"><button type="button" class="btn btn-success">Créer</button></a>
                    <a href="{{ path('app2_bilan_custom_compare', {'idPatient': patient.id, 'idBilanSkeleton' : bilanCustomDisplay.skeleton.id}) }}"><button type="button" class="btn btn-info"  >Comparer</button></a>

                </div>
                {% endfor %}
                 <div class="col-9 jumbotron padding-min jumbotron-conseil jumbotron-bilan">
                    <h3 class="align-center" >Bilans Conseil Habillage</h3>
                    
                    {% include '@App2Bundle/Resources/views/Layout/components/tableActionBilan.html.twig' 
                        with {
                            'with_modify':false,
                            'with_name': true,
                            'with_extract': false,
                            'bilans': patient.bilansConseil,
                            'path_modify': '',
                            'path_delete': 'app2_bilan_conseil_delete',
                            'path_details': 'app2_bilan_conseil_get_one',
                            'path_extract': ''
                        } %} 

                    <a href="{{ path('app2_bilan_conseil_create', {'idPatient': patient.id}) }}">
                        <button type="button" class="btn btn-success">
                        Nouveau Bilan conseil habillage
                        </button>
                    </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
                {{ encore_entry_script_tags('app') }}
                {{ encore_entry_script_tags('one-patient') }}

                <!-- Renders app.js & a webpack runtime.js file
                    <script src="/build/runtime.js"></script>
                    <script src="/build/app.js"></script> -->
        {% endblock %}
